In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as sp
import pandas as pd
import datetime

%matplotlib inline
plt.rcParams['font.family'] = 'IPAPGothic'

train_B = pd.read_table('data/train/train_B.tsv')

- まずユーザーの行動をイメージするために個人のデータを見る。

In [2]:
train_B[train_B['user_id'] == '0000000_B'].sort_values(by = 'time_stamp')

      user_id  product_id  event_type  ad               time_stamp
28  0000000_B  00013403_b           1  -1  2017-04-01 03:55:17.110
2   0000000_B  00004491_b           1  -1  2017-04-01 03:56:31.945
0   0000000_B  00004491_b           1  -1  2017-04-01 03:57:12.488
12  0000000_B  00011210_b           1  -1  2017-04-01 03:58:26.498
11  0000000_B  00011210_b           1  -1  2017-04-01 03:59:06.620
10  0000000_B  00011210_b           1  -1  2017-04-01 03:59:42.079
14  0000000_B  00006305_b           1  -1  2017-04-01 09:39:02.221
16  0000000_B  00006305_b           1  -1  2017-04-01 09:39:14.018
15  0000000_B  00006305_b           1  -1  2017-04-01 09:43:56.154
13  0000000_B  00011210_b           1  -1  2017-04-01 10:13:48.716
9   0000000_B  00012030_b           1  -1  2017-04-01 10:15:08.773
1   0000000_B  00004491_b           1  -1  2017-04-01 10:15:21.492
8   0000000_B  00012030_b           1  -1  2017-04-01 10:17:44.207
4   0000000_B  00009992_b           1  -1  2017-04-01 10:18:00.540
5   0000000_B  00009992_b           1  -1  2017-04-01 10:19:29.957
6   0000000_B  00009992_b           1  -1  2017-04-01 10:19:35.914
31  0000000_B  00004953_b           1  -1  2017-04-15 03:44:00.816
30  0000000_B  00003875_b           1  -1  2017-04-15 03:45:04.560
22  0000000_B  00006305_b           1  -1  2017-04-15 03:46:11.221
21  0000000_B  00006305_b           1  -1  2017-04-15 03:47:52.193
26  0000000_B  00006305_b           1  -1  2017-04-15 03:47:52.303
25  0000000_B  00006305_b           1  -1  2017-04-15 03:49:32.188
17  0000000_B  00006305_b           1  -1  2017-04-15 03:49:32.245
23  0000000_B  00006305_b           1  -1  2017-04-15 03:50:39.701
20  0000000_B  00006305_b           1  -1  2017-04-15 03:50:39.746
18  0000000_B  00006305_b           1  -1  2017-04-15 03:50:55.422
19  0000000_B  00006305_b           1  -1  2017-04-15 03:50:55.494
24  0000000_B  00006305_b           1  -1  2017-04-15 03:51:01.342
29  0000000_B  00010032_b           1  -1  2017-04-15 03:52:26.748
32  0000000_B  00010081_b           1  -1  2017-04-15 03:53:03.833
7   0000000_B  00009992_b           1  -1  2017-04-15 03:53:46.342
27  0000000_B  00006305_b           1  -1  2017-04-24 03:34:57.615
3   0000000_B  00004491_b           1  -1  2017-04-24 03:36:28.216
39  0000000_B  00010799_b           1  -1  2017-04-24 03:37:15.604
37  0000000_B  00015686_b           1  -1  2017-04-24 03:40:36.065
34  0000000_B  00015686_b           1  -1  2017-04-24 03:41:34.233
35  0000000_B  00015686_b           1  -1  2017-04-24 03:42:39.208
36  0000000_B  00015686_b           1  -1  2017-04-24 03:43:24.785
42  0000000_B  00001472_b           1  -1  2017-04-24 03:52:57.774
43  0000000_B  00001472_b           1  -1  2017-04-24 03:53:42.731
41  0000000_B  00008327_b           1  -1  2017-04-24 03:55:58.305
40  0000000_B  00008327_b           1  -1  2017-04-24 03:56:10.828
33  0000000_B  00015298_b           1  -1  2017-04-24 03:56:53.599
38  0000000_B  00015686_b           1  -1  2017-04-29 03:16:07.918

In [3]:
train_B[train_B['user_id'] == '0000001_B'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
69885  0000001_B  00012700_b           1  -1  2017-04-20 10:08:49.388
69883  0000001_B  00012700_b           1  -1  2017-04-20 10:10:44.595
69881  0000001_B  00012700_b           1  -1  2017-04-20 10:10:58.590
69880  0000001_B  00012700_b           1  -1  2017-04-20 10:11:52.052
69891  0000001_B  00000914_b           1  -1  2017-04-20 10:14:25.178
69886  0000001_B  00005471_b           1  -1  2017-04-20 10:15:55.200
69865  0000001_B  00005998_b           1  -1  2017-04-20 10:16:58.835
69871  0000001_B  00005998_b           1  -1  2017-04-20 10:17:52.855
69872  0000001_B  00005998_b           1  -1  2017-04-20 10:19:24.834
69870  0000001_B  00005998_b           1  -1  2017-04-20 10:20:10.105
69876  0000001_B  00009275_b           1  -1  2017-04-20 10:22:27.451
69874  0000001_B  00009275_b           1  -1  2017-04-20 10:23:50.890
69878  0000001_B  00003000_b           1  -1  2017-04-20 10:25:15.631
69879  0000001_B  00003000_b           1  -1  2017-04-20 10:26:08.351
69875  0000001_B  00009275_b           1  -1  2017-04-20 10:26:52.349
69877  0000001_B  00009275_b           1  -1  2017-04-20 10:27:01.811
69821  0000001_B  00010435_b           1  -1  2017-04-20 10:28:02.069
69823  0000001_B  00010435_b           1  -1  2017-04-20 10:28:23.311
69827  0000001_B  00010435_b           1  -1  2017-04-20 10:31:25.907
69826  0000001_B  00010435_b           1  -1  2017-04-20 10:31:42.270
69822  0000001_B  00010435_b           1  -1  2017-04-20 10:33:47.055
69824  0000001_B  00010435_b           1  -1  2017-04-20 10:34:40.465
69889  0000001_B  00010669_b           1  -1  2017-04-20 10:37:52.517
69890  0000001_B  00010669_b           1  -1  2017-04-20 10:38:31.350
69887  0000001_B  00010669_b           1  -1  2017-04-20 10:43:16.465
69888  0000001_B  00010669_b           1  -1  2017-04-20 10:44:03.250
69853  0000001_B  00005112_b           1  -1  2017-04-20 10:44:45.098
69842  0000001_B  00005112_b           1  -1  2017-04-20 10:47:23.064
69892  0000001_B  00003526_b           1  -1  2017-04-20 10:52:46.379
69854  0000001_B  00005112_b           1  -1  2017-04-20 10:54:42.665
...          ...         ...         ...  ..                      ...
69848  0000001_B  00005112_b           1  -1  2017-04-20 11:12:06.471
69841  0000001_B  00005112_b           1  -1  2017-04-20 11:12:23.833
69831  0000001_B  00007379_b           1  -1  2017-04-20 11:13:42.483
69832  0000001_B  00007379_b           1  -1  2017-04-20 11:14:19.387
69835  0000001_B  00007379_b           1  -1  2017-04-20 11:14:30.422
69838  0000001_B  00007379_b           1  -1  2017-04-20 11:15:33.504
69836  0000001_B  00007379_b           1  -1  2017-04-20 11:16:09.150
69862  0000001_B  00005998_b           1  -1  2017-04-20 11:17:18.294
69867  0000001_B  00005998_b           1  -1  2017-04-20 11:17:34.454
69869  0000001_B  00005998_b           1  -1  2017-04-20 11:18:00.758
69859  0000001_B  00005998_b           1  -1  2017-04-20 11:19:40.254
69852  0000001_B  00005112_b           1  -1  2017-04-20 11:20:26.635
69843  0000001_B  00005112_b           1  -1  2017-04-20 11:20:35.896
69873  0000001_B  00009275_b           1  -1  2017-04-20 11:22:48.796
69863  0000001_B  00005998_b           1  -1  2017-04-20 11:23:58.034
69882  0000001_B  00012700_b           1  -1  2017-04-20 11:26:34.853
69884  0000001_B  00012700_b           1  -1  2017-04-20 11:26:53.635
69851  0000001_B  00005112_b           1  -1  2017-04-20 11:28:15.077
69866  0000001_B  00005998_b           1  -1  2017-04-20 11:28:59.008
69861  0000001_B  00005998_b           1  -1  2017-04-20 11:30:19.707
69864  0000001_B  00005998_b           1  -1  2017-04-20 11:30:51.289
69860  0000001_B  00005998_b           1  -1  2017-04-20 11:31:17.599
69868  0000001_B  00005998_b           1  -1  2017-04-20 11:32:01.807
69850  0000001_B  00005112_b           1  -1  2017-04-20 11:32:27.815
69844  0000001_B  00005112_b           1  -1  2017-04-20 11:32:37.433
69856  0000001_B  00005112_b           1  -1  2017-04-20 11:33:09.696
69847  0000001_B  00005112_b           1  -1  2017-04-20 11:33:25.000
69840  0000001_B  00005112_b           1  -1  2017-04-20 11:33:48.374
69857  0000001_B  00005112_b           0  -1  2017-04-20 11:36:14.525
69858  0000001_B  00005112_b           3   0  2017-04-20 11:40:06.299

[72 rows x 5 columns]

In [4]:
train_B[train_B['user_id'] == '0000002_B'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
86603  0000002_B  00000748_b           1  -1  2017-04-23 14:22:28.391
86605  0000002_B  00001756_b           1  -1  2017-04-23 14:23:43.930
86613  0000002_B  00008667_b           1  -1  2017-04-23 14:25:13.144
86602  0000002_B  00000843_b           1  -1  2017-04-23 14:28:38.367
86600  0000002_B  00006762_b           1  -1  2017-04-23 14:30:03.305
86599  0000002_B  00006762_b           1  -1  2017-04-23 14:30:32.444
86598  0000002_B  00006762_b           1  -1  2017-04-23 14:31:13.150
86596  0000002_B  00006762_b           1  -1  2017-04-23 14:32:57.363
86597  0000002_B  00006762_b           1  -1  2017-04-23 14:33:04.642
86601  0000002_B  00000843_b           1  -1  2017-04-23 14:33:22.818
86594  0000002_B  00001549_b           1  -1  2017-04-23 14:35:23.459
86593  0000002_B  00001549_b           1  -1  2017-04-23 14:35:47.322
86595  0000002_B  00001549_b           1  -1  2017-04-23 14:36:11.687
86606  0000002_B  00010812_b           1  -1  2017-04-23 14:36:41.362
86614  0000002_B  00003161_b           1  -1  2017-04-23 14:38:09.290
86604  0000002_B  00001756_b           1  -1  2017-04-23 14:40:01.170
86608  0000002_B  00003226_b           1  -1  2017-04-23 14:43:57.737
86609  0000002_B  00003226_b           1  -1  2017-04-23 14:44:14.153
86607  0000002_B  00003226_b           1  -1  2017-04-23 14:48:51.956
86611  0000002_B  00003226_b           0  -1  2017-04-23 14:51:54.039
86610  0000002_B  00003226_b           0  -1  2017-04-23 14:53:47.848
86612  0000002_B  00003226_b           3   0  2017-04-23 14:55:01.270
86617  0000002_B  00016078_b           1  -1  2017-04-28 21:39:06.856
86615  0000002_B  00016078_b           1  -1  2017-04-28 21:46:19.109
86616  0000002_B  00016078_b           1  -1  2017-04-28 21:46:29.123
86618  0000002_B  00016078_b           1  -1  2017-04-28 21:47:16.637

In [5]:
train_B[train_B['user_id'] == '0000003_B'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
96692  0000003_B  00010275_b           1  -1  2017-04-08 06:06:31.211
96697  0000003_B  00015074_b           1  -1  2017-04-08 06:11:14.480
96694  0000003_B  00014775_b           1  -1  2017-04-08 06:12:25.520
96690  0000003_B  00010275_b           1  -1  2017-04-08 06:13:15.055
96696  0000003_B  00013712_b           1  -1  2017-04-08 06:13:23.885
96688  0000003_B  00010275_b           1  -1  2017-04-08 06:13:38.650
96681  0000003_B  00015110_b           1  -1  2017-04-08 06:14:04.574
96684  0000003_B  00015110_b           1  -1  2017-04-08 06:14:38.940
96691  0000003_B  00010275_b           1  -1  2017-04-08 06:14:47.428
96683  0000003_B  00015110_b           1  -1  2017-04-08 06:15:07.352
96693  0000003_B  00010275_b           1  -1  2017-04-08 06:15:29.411
96685  0000003_B  00015110_b           1  -1  2017-04-08 06:15:44.704
96687  0000003_B  00014856_b           1  -1  2017-04-08 06:15:57.569
96679  0000003_B  00009014_b           1  -1  2017-04-08 06:16:57.281
96695  0000003_B  00014775_b           1  -1  2017-04-08 06:17:39.834
96680  0000003_B  00009014_b           1  -1  2017-04-08 06:18:09.267
96698  0000003_B  00001599_b           1  -1  2017-04-08 06:18:21.239
96678  0000003_B  00009014_b           1  -1  2017-04-08 06:18:36.139
96676  0000003_B  00004779_b           1  -1  2017-04-08 06:19:41.321
96677  0000003_B  00004779_b           1  -1  2017-04-08 06:19:50.998
96686  0000003_B  00015110_b           1  -1  2017-04-08 06:19:56.282
96682  0000003_B  00015110_b           1  -1  2017-04-08 06:20:26.005
96689  0000003_B  00010275_b           1  -1  2017-04-08 06:20:29.196
96699  0000003_B  00006525_b           1  -1  2017-04-11 02:09:15.306
96700  0000003_B  00006525_b           1  -1  2017-04-12 00:35:14.419

In [6]:
train_B[train_B['user_id'] == '0000004_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
120962  0000004_B  00016487_b           1  -1  2017-04-25 08:00:42.627
120965  0000004_B  00000553_b           1  -1  2017-04-25 08:08:48.929
120969  0000004_B  00007719_b           1  -1  2017-04-25 08:09:21.876
120968  0000004_B  00007719_b           1  -1  2017-04-25 08:09:50.133
120964  0000004_B  00000553_b           1  -1  2017-04-25 08:10:25.689
120966  0000004_B  00001625_b           1  -1  2017-04-25 08:13:40.919
120970  0000004_B  00007719_b           1  -1  2017-04-25 08:15:07.286
120963  0000004_B  00007692_b           1  -1  2017-04-25 08:15:23.251
120971  0000004_B  00007719_b           1  -1  2017-04-28 07:40:56.044
120975  0000004_B  00009590_b           1  -1  2017-04-28 07:42:00.297
120976  0000004_B  00015216_b           1  -1  2017-04-28 07:51:19.343
120972  0000004_B  00015400_b           1  -1  2017-04-28 07:52:38.184
120979  0000004_B  00014472_b           1  -1  2017-04-29 15:13:52.542
120973  0000004_B  00015400_b           1  -1  2017-04-29 15:15:07.768
120974  0000004_B  00015400_b           1  -1  2017-04-29 15:15:50.447
120967  0000004_B  00001625_b           1  -1  2017-04-29 15:16:15.331
120981  0000004_B  00002661_b           1  -1  2017-04-29 15:16:44.368
120980  0000004_B  00002661_b           1  -1  2017-04-29 15:16:53.470
120977  0000004_B  00015216_b           1  -1  2017-04-29 15:17:15.047
120978  0000004_B  00014472_b           1  -1  2017-04-29 15:17:50.682
120982  0000004_B  00003037_b           1  -1  2017-04-29 16:03:14.839

In [7]:
train_B[train_B['user_id'] == '0000005_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
152525  0000005_B  00006314_b           1  -1  2017-04-08 11:04:51.365
152531  0000005_B  00002654_b           1  -1  2017-04-08 11:11:44.508
152514  0000005_B  00006923_b           1  -1  2017-04-08 11:12:10.089
152524  0000005_B  00002451_b           1  -1  2017-04-08 11:14:05.987
152523  0000005_B  00002451_b           1  -1  2017-04-08 11:15:04.374
152522  0000005_B  00002451_b           1  -1  2017-04-08 11:15:07.221
152508  0000005_B  00001775_b           1  -1  2017-04-08 11:19:20.325
152507  0000005_B  00001775_b           1  -1  2017-04-08 11:20:13.083
152509  0000005_B  00001775_b           1  -1  2017-04-08 11:20:59.269
152510  0000005_B  00001775_b           1  -1  2017-04-08 11:26:25.777
152512  0000005_B  00001775_b           1  -1  2017-04-08 11:26:54.381
152511  0000005_B  00001775_b           1  -1  2017-04-08 11:31:22.043
152506  0000005_B  00001775_b           1  -1  2017-04-08 11:32:29.183
152526  0000005_B  00006314_b           1  -1  2017-04-08 11:38:38.066
152527  0000005_B  00003249_b           1  -1  2017-04-08 11:54:05.927
152521  0000005_B  00013012_b           1  -1  2017-04-08 11:54:33.007
152518  0000005_B  00001302_b           1  -1  2017-04-08 11:56:48.469
152520  0000005_B  00001302_b           1  -1  2017-04-08 11:58:03.664
152517  0000005_B  00001302_b           1  -1  2017-04-08 11:58:37.750
152519  0000005_B  00001302_b           1  -1  2017-04-08 11:58:46.492
152529  0000005_B  00009798_b           1  -1  2017-04-08 11:59:49.698
152530  0000005_B  00009798_b           1  -1  2017-04-08 12:00:10.865
152528  0000005_B  00009798_b           1  -1  2017-04-08 12:00:44.690
152516  0000005_B  00005900_b           1  -1  2017-04-08 12:06:27.982
152515  0000005_B  00005900_b           1  -1  2017-04-08 12:09:33.515
152513  0000005_B  00002958_b           1  -1  2017-04-08 12:19:19.071
152502  0000005_B  00013555_b           1  -1  2017-04-08 13:15:34.172
152505  0000005_B  00013555_b           1  -1  2017-04-08 13:15:46.549
152503  0000005_B  00013555_b           1  -1  2017-04-08 13:19:22.119
152504  0000005_B  00013555_b           1  -1  2017-04-08 13:22:04.433
152534  0000005_B  00008368_b           1  -1  2017-04-25 10:36:07.817
152532  0000005_B  00001788_b           1  -1  2017-04-25 10:52:37.911
152533  0000005_B  00001788_b           1  -1  2017-04-25 10:52:53.733
152535  0000005_B  00000435_b           1  -1  2017-04-25 11:05:38.602
152536  0000005_B  00005189_b           1  -1  2017-04-27 12:03:19.840
152537  0000005_B  00004879_b           1  -1  2017-04-29 13:08:23.306

In [8]:
train_B[train_B['user_id'] == '0000006_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
217348  0000006_B  00013865_b           1  -1  2017-04-01 03:12:44.074
217353  0000006_B  00013865_b           0  -1  2017-04-01 03:18:30.996
217349  0000006_B  00013865_b           1  -1  2017-04-04 01:52:23.001
217350  0000006_B  00013865_b           1  -1  2017-04-04 01:52:44.980
217355  0000006_B  00013377_b           1  -1  2017-04-05 12:23:25.539
217354  0000006_B  00013377_b           1  -1  2017-04-05 12:24:07.358
217361  0000006_B  00011534_b           1  -1  2017-04-06 12:59:40.371
217362  0000006_B  00011436_b           1  -1  2017-04-06 13:00:08.060
217357  0000006_B  00013452_b           1  -1  2017-04-06 13:02:22.605
217358  0000006_B  00013452_b           1  -1  2017-04-06 13:02:38.267
217356  0000006_B  00013452_b           1  -1  2017-04-06 13:05:34.979
217359  0000006_B  00013452_b           1  -1  2017-04-09 05:24:44.706
217360  0000006_B  00013452_b           1  -1  2017-04-09 05:26:57.587
217352  0000006_B  00013865_b           1  -1  2017-04-09 15:58:25.372
217351  0000006_B  00013865_b           1  -1  2017-04-09 16:01:03.826
217363  0000006_B  00006399_b           1  -1  2017-04-19 12:47:18.246
217365  0000006_B  00006399_b           1  -1  2017-04-19 12:50:33.405
217366  0000006_B  00006399_b           1  -1  2017-04-19 12:56:15.194
217364  0000006_B  00006399_b           1  -1  2017-04-19 12:56:21.725
217367  0000006_B  00005073_b           1  -1  2017-04-19 13:28:34.380
217368  0000006_B  00005073_b           1  -1  2017-04-19 13:29:22.887
217371  0000006_B  00002879_b           1  -1  2017-04-20 14:21:33.725
217372  0000006_B  00002879_b           1  -1  2017-04-20 14:21:48.495
217370  0000006_B  00001176_b           1  -1  2017-04-20 14:27:39.894
217369  0000006_B  00001176_b           1  -1  2017-04-20 14:28:34.437
217373  0000006_B  00012852_b           1  -1  2017-04-25 01:54:39.311
217378  0000006_B  00012852_b           0  -1  2017-04-25 01:56:41.591
217376  0000006_B  00012852_b           0  -1  2017-04-25 01:58:28.301
217377  0000006_B  00012852_b           0  -1  2017-04-25 02:02:19.860
217379  0000006_B  00012852_b           0  -1  2017-04-25 02:02:42.962
217384  0000006_B  00005736_b           1  -1  2017-04-25 02:25:48.291
217380  0000006_B  00014135_b           1  -1  2017-04-25 02:30:23.721
217374  0000006_B  00012852_b           1  -1  2017-04-25 02:32:50.940
217375  0000006_B  00012852_b           1  -1  2017-04-26 11:58:16.021
217381  0000006_B  00014135_b           1  -1  2017-04-26 12:01:04.016
217382  0000006_B  00014135_b           1  -1  2017-04-26 12:02:19.787
217383  0000006_B  00014135_b           1  -1  2017-04-26 12:02:34.557
217385  0000006_B  00013349_b           1  -1  2017-04-26 13:53:30.590

In [9]:
train_B[train_B['user_id'] == '0000007_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
241981  0000007_B  00002411_b           1  -1  2017-04-03 00:58:29.049
241967  0000007_B  00007534_b           1  -1  2017-04-03 01:02:13.482
241963  0000007_B  00013248_b           1  -1  2017-04-03 01:02:56.195
241968  0000007_B  00007534_b           1  -1  2017-04-03 01:03:23.159
241969  0000007_B  00007534_b           1  -1  2017-04-03 01:04:44.569
241965  0000007_B  00013248_b           1  -1  2017-04-03 01:05:04.221
241964  0000007_B  00013248_b           1  -1  2017-04-03 01:05:19.901
241983  0000007_B  00009795_b           1  -1  2017-04-03 01:05:32.995
241971  0000007_B  00003978_b           1  -1  2017-04-03 01:06:02.302
241972  0000007_B  00003978_b           1  -1  2017-04-03 01:06:28.527
241974  0000007_B  00003978_b           0  -1  2017-04-03 01:08:06.044
241976  0000007_B  00003978_b           3   0  2017-04-03 01:10:56.818
241975  0000007_B  00003978_b           3   0  2017-04-03 01:15:17.202
241973  0000007_B  00003978_b           0  -1  2017-04-03 01:15:24.413
241970  0000007_B  00003978_b           1  -1  2017-04-03 01:15:53.997
241931  0000007_B  00008188_b           1  -1  2017-04-03 04:38:15.179
241982  0000007_B  00015461_b           1  -1  2017-04-03 04:56:58.507
241977  0000007_B  00015354_b           1  -1  2017-04-03 04:57:12.023
241951  0000007_B  00016147_b           1  -1  2017-04-03 05:27:51.536
241956  0000007_B  00016147_b           1  -1  2017-04-03 05:29:32.847
241960  0000007_B  00016147_b           1  -1  2017-04-03 05:29:51.346
241961  0000007_B  00016147_b           1  -1  2017-04-03 05:30:05.192
241958  0000007_B  00016147_b           1  -1  2017-04-03 05:30:42.847
241957  0000007_B  00016147_b           1  -1  2017-04-03 05:31:34.272
241953  0000007_B  00016147_b           1  -1  2017-04-03 05:31:52.939
241934  0000007_B  00008188_b           1  -1  2017-04-03 05:33:59.969
241949  0000007_B  00016147_b           1  -1  2017-04-03 05:34:03.483
241948  0000007_B  00001094_b           1  -1  2017-04-03 05:34:15.859
241954  0000007_B  00016147_b           1  -1  2017-04-03 05:34:24.869
241955  0000007_B  00016147_b           1  -1  2017-04-03 05:34:59.003
...           ...         ...         ...  ..                      ...
241984  0000007_B  00011342_b           1  -1  2017-04-03 05:40:08.244
241978  0000007_B  00011175_b           1  -1  2017-04-03 06:12:36.654
241979  0000007_B  00011175_b           1  -1  2017-04-03 06:18:04.753
241935  0000007_B  00008188_b           1  -1  2017-04-03 06:22:46.357
241980  0000007_B  00001208_b           1  -1  2017-04-03 06:26:05.711
241939  0000007_B  00008188_b           1  -1  2017-04-03 07:27:51.639
241932  0000007_B  00008188_b           1  -1  2017-04-03 07:28:17.088
241942  0000007_B  00008188_b           1  -1  2017-04-03 07:29:23.863
241944  0000007_B  00008188_b           0  -1  2017-04-03 07:30:34.379
241937  0000007_B  00008188_b           1  -1  2017-04-03 07:37:08.601
241936  0000007_B  00008188_b           1  -1  2017-04-03 07:37:48.808
241938  0000007_B  00008188_b           1  -1  2017-04-03 07:37:53.554
241940  0000007_B  00008188_b           1  -1  2017-04-03 07:40:17.288
241943  0000007_B  00008188_b           0  -1  2017-04-03 07:40:51.357
241947  0000007_B  00008188_b           3   0  2017-04-03 07:42:33.018
241966  0000007_B  00015558_b           1  -1  2017-04-03 07:43:47.048
241941  0000007_B  00008188_b           1  -1  2017-04-03 07:45:39.577
241945  0000007_B  00008188_b           0  -1  2017-04-03 07:46:16.339
241946  0000007_B  00008188_b           3   0  2017-04-03 07:48:57.823
241933  0000007_B  00008188_b           1  -1  2017-04-03 07:52:35.087
241986  0000007_B  00015738_b           1  -1  2017-04-10 03:39:02.464
241985  0000007_B  00015738_b           1  -1  2017-04-10 03:40:19.273
241987  0000007_B  00015738_b           1  -1  2017-04-10 03:40:39.802
241993  0000007_B  00005794_b           1  -1  2017-04-25 02:46:23.490
241994  0000007_B  00005794_b           1  -1  2017-04-25 02:51:10.967
241992  0000007_B  00015626_b           1  -1  2017-04-25 03:02:39.352
241991  0000007_B  00015626_b           1  -1  2017-04-25 03:08:07.891
241988  0000007_B  00016574_b           1  -1  2017-04-25 03:13:16.017
241989  0000007_B  00016574_b           0  -1  2017-04-25 03:15:09.721
241990  0000007_B  00016574_b           3   1  2017-04-25 03:17:15.318

[64 rows x 5 columns]

In [10]:
train_B[train_B['user_id'] == '0000008_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
295704  0000008_B  00009334_b           1  -1  2017-04-07 02:50:20.444
295709  0000008_B  00009334_b           0  -1  2017-04-07 02:51:51.176
295705  0000008_B  00009334_b           0  -1  2017-04-07 02:52:29.540
295707  0000008_B  00009334_b           0  -1  2017-04-07 02:53:42.642
295711  0000008_B  00009334_b           0  -1  2017-04-07 02:55:55.930
295708  0000008_B  00009334_b           0  -1  2017-04-07 02:56:20.124
295706  0000008_B  00009334_b           0  -1  2017-04-07 02:57:09.577
295703  0000008_B  00009334_b           1  -1  2017-04-07 04:19:24.383
295710  0000008_B  00009334_b           0  -1  2017-04-07 04:21:31.441
295712  0000008_B  00009334_b           3   1  2017-04-07 04:25:24.082
295714  0000008_B  00012190_b           1  -1  2017-04-12 06:05:04.542
295715  0000008_B  00008072_b           1  -1  2017-04-12 06:05:22.270
295716  0000008_B  00008072_b           1  -1  2017-04-12 06:06:00.949
295713  0000008_B  00011916_b           1  -1  2017-04-12 07:54:29.069
295721  0000008_B  00011604_b           1  -1  2017-04-12 07:54:46.760
295720  0000008_B  00011604_b           1  -1  2017-04-12 08:00:07.559
295717  0000008_B  00005756_b           1  -1  2017-04-12 08:00:28.419
295719  0000008_B  00015143_b           1  -1  2017-04-12 08:01:25.424
295722  0000008_B  00015190_b           1  -1  2017-04-12 08:02:19.558
295718  0000008_B  00001360_b           1  -1  2017-04-12 08:13:11.460
295723  0000008_B  00004287_b           1  -1  2017-04-17 00:36:42.451

In [11]:
train_B[train_B['user_id'] == '0000009_B'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
307664  0000009_B  00014492_b           1  -1  2017-04-06 00:47:27.522
307662  0000009_B  00014492_b           1  -1  2017-04-06 00:47:39.925
307663  0000009_B  00014492_b           1  -1  2017-04-06 00:49:22.767
307672  0000009_B  00007907_b           1  -1  2017-04-06 04:18:50.657
307665  0000009_B  00007907_b           1  -1  2017-04-06 04:19:16.345
307668  0000009_B  00007907_b           1  -1  2017-04-06 04:19:55.767
307661  0000009_B  00014492_b           1  -1  2017-04-06 04:20:15.104
307653  0000009_B  00014488_b           1  -1  2017-04-06 04:50:40.846
307657  0000009_B  00014488_b           1  -1  2017-04-06 04:51:34.384
307666  0000009_B  00007907_b           1  -1  2017-04-06 06:26:56.155
307669  0000009_B  00007907_b           1  -1  2017-04-06 06:27:19.436
307671  0000009_B  00007907_b           1  -1  2017-04-06 06:27:32.440
307667  0000009_B  00007907_b           1  -1  2017-04-06 06:27:50.462
307659  0000009_B  00014488_b           1  -1  2017-04-06 06:28:12.134
307656  0000009_B  00014488_b           1  -1  2017-04-06 06:28:23.624
307655  0000009_B  00014488_b           1  -1  2017-04-06 06:28:36.296
307660  0000009_B  00014488_b           1  -1  2017-04-06 06:29:23.467
307658  0000009_B  00014488_b           1  -1  2017-04-06 06:30:56.159
307654  0000009_B  00014488_b           1  -1  2017-04-06 06:33:06.541
307652  0000009_B  00014488_b           1  -1  2017-04-06 06:35:10.851
307673  0000009_B  00007907_b           1  -1  2017-04-06 06:35:57.965
307670  0000009_B  00007907_b           1  -1  2017-04-06 08:18:28.219
307674  0000009_B  00007266_b           1  -1  2017-04-06 08:18:52.909
307720  0000009_B  00015776_b           1  -1  2017-04-10 05:37:27.129
307704  0000009_B  00011122_b           1  -1  2017-04-10 05:38:47.929
307679  0000009_B  00004505_b           1  -1  2017-04-10 05:40:38.616
307682  0000009_B  00012969_b           1  -1  2017-04-10 05:44:18.569
307676  0000009_B  00004505_b           1  -1  2017-04-10 05:44:38.054
307675  0000009_B  00004505_b           1  -1  2017-04-10 05:44:46.149
307677  0000009_B  00004505_b           1  -1  2017-04-10 05:46:32.059
...           ...         ...         ...  ..                      ...
307697  0000009_B  00004237_b           1  -1  2017-04-10 06:29:40.039
307700  0000009_B  00015618_b           1  -1  2017-04-10 06:30:56.770
307698  0000009_B  00011127_b           1  -1  2017-04-10 06:33:59.627
307681  0000009_B  00012969_b           1  -1  2017-04-10 06:36:34.379
307721  0000009_B  00013790_b           1  -1  2017-04-10 06:36:52.704
307711  0000009_B  00004949_b           1  -1  2017-04-10 06:52:37.672
307687  0000009_B  00003788_b           1  -1  2017-04-10 06:52:53.651
307699  0000009_B  00015618_b           1  -1  2017-04-10 06:53:47.125
307706  0000009_B  00015860_b           1  -1  2017-04-10 07:39:36.443
307717  0000009_B  00009914_b           1  -1  2017-04-10 07:40:11.035
307716  0000009_B  00009914_b           1  -1  2017-04-10 07:40:24.352
307705  0000009_B  00015860_b           1  -1  2017-04-10 07:45:51.835
307707  0000009_B  00015860_b           1  -1  2017-04-10 07:45:58.072
307708  0000009_B  00015860_b           1  -1  2017-04-10 07:46:12.275
307701  0000009_B  00015618_b           1  -1  2017-04-10 07:47:50.223
307702  0000009_B  00015618_b           1  -1  2017-04-10 07:48:37.831
307712  0000009_B  00006367_b           1  -1  2017-04-10 07:50:00.193
307714  0000009_B  00006367_b           1  -1  2017-04-10 07:50:31.610
307715  0000009_B  00006367_b           1  -1  2017-04-10 07:50:34.032
307713  0000009_B  00006367_b           1  -1  2017-04-10 07:50:36.359
307686  0000009_B  00003788_b           1  -1  2017-04-10 07:54:27.689
307688  0000009_B  00003788_b           1  -1  2017-04-10 07:57:44.501
307683  0000009_B  00003788_b           1  -1  2017-04-10 07:58:19.319
307692  0000009_B  00003788_b           0  -1  2017-04-10 08:04:23.844
307694  0000009_B  00003788_b           3   1  2017-04-10 08:07:04.394
307693  0000009_B  00003788_b           3   1  2017-04-10 08:07:35.584
307690  0000009_B  00003788_b           1  -1  2017-04-11 00:04:49.839
307689  0000009_B  00003788_b           1  -1  2017-04-11 00:05:19.989
307709  0000009_B  00015860_b           1  -1  2017-04-14 00:57:28.047
307691  0000009_B  00003788_b           1  -1  2017-04-18 23:28:04.581

[71 rows x 5 columns]

- 複数買っている人は同時に買っている場合が多そう→複数人での旅行は複数購入になると予想できる