In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as sp
import pandas as pd
import datetime

%matplotlib inline
plt.rcParams['font.family'] = 'IPAPGothic'

train_C = pd.read_table('data/train/train_C.tsv')

- まずユーザーの行動をイメージするために個人のデータを見る。

In [2]:
train_C[train_C['user_id'] == '0000000_C'].sort_values(by = 'time_stamp')

      user_id  product_id  event_type  ad               time_stamp
4   0000000_C  00311374_c           1  -1  2017-04-29 00:26:20.526
3   0000000_C  00290915_c           1  -1  2017-04-29 00:28:45.632
1   0000000_C  00217428_c           1  -1  2017-04-29 00:31:43.088
0   0000000_C  00209392_c           1  -1  2017-04-29 00:33:50.804
2   0000000_C  00217428_c           1  -1  2017-04-29 00:34:32.473
5   0000000_C  00311374_c           1  -1  2017-04-30 05:33:16.726
10  0000000_C  00190500_c           1  -1  2017-04-30 05:34:16.301
16  0000000_C  00294192_c           1  -1  2017-04-30 05:35:31.399
14  0000000_C  00205242_c           1  -1  2017-04-30 05:36:08.613
20  0000000_C  00003661_c           1  -1  2017-04-30 05:37:44.466
19  0000000_C  00139845_c           1  -1  2017-04-30 05:38:10.778
8   0000000_C  00298993_c           1  -1  2017-04-30 05:39:08.278
18  0000000_C  00139845_c           1  -1  2017-04-30 05:39:30.586
22  0000000_C  00025393_c           1  -1  2017-04-30 05:40:24.739
7   0000000_C  00298993_c           1  -1  2017-04-30 05:40:33.166
11  0000000_C  00270071_c           1  -1  2017-04-30 05:40:51.509
24  0000000_C  00046485_c           1  -1  2017-04-30 05:41:18.407
12  0000000_C  00270071_c           1  -1  2017-04-30 05:41:21.622
23  0000000_C  00032549_c           1  -1  2017-04-30 05:41:43.052
17  0000000_C  00139845_c           1  -1  2017-04-30 05:42:28.797
21  0000000_C  00003661_c           1  -1  2017-04-30 05:42:39.725
13  0000000_C  00205242_c           1  -1  2017-04-30 05:42:53.684
15  0000000_C  00294192_c           1  -1  2017-04-30 05:43:16.446
9   0000000_C  00190500_c           1  -1  2017-04-30 05:43:28.102
6   0000000_C  00311374_c           1  -1  2017-04-30 05:43:41.714

In [3]:
train_C[train_C['user_id'] == '0000001_C'].sort_values(by = 'time_stamp')

        user_id  product_id  event_type  ad               time_stamp
6910  0000001_C  00139536_c           1  -1  2017-04-28 10:54:13.015
6899  0000001_C  00204560_c           1  -1  2017-04-28 10:56:19.170
6906  0000001_C  00017273_c           1  -1  2017-04-28 10:57:20.957
6902  0000001_C  00204560_c           1  -1  2017-04-28 16:32:41.393
6901  0000001_C  00204560_c           1  -1  2017-04-28 16:32:55.107
6900  0000001_C  00204560_c           1  -1  2017-04-29 01:57:46.078
6909  0000001_C  00017273_c           1  -1  2017-04-29 12:09:43.333
6908  0000001_C  00017273_c           1  -1  2017-04-29 12:09:56.504
6921  0000001_C  00005500_c           1  -1  2017-04-29 12:11:08.479
6922  0000001_C  00005500_c           1  -1  2017-04-29 12:11:36.273
6926  0000001_C  00185124_c           1  -1  2017-04-29 12:12:26.971
6920  0000001_C  00005500_c           1  -1  2017-04-29 12:13:08.710
6907  0000001_C  00017273_c           1  -1  2017-04-29 12:13:09.624
6931  0000001_C  00130017_c           1  -1  2017-04-29 12:13:33.062
6911  0000001_C  00139536_c           1  -1  2017-04-29 12:15:00.843
6930  0000001_C  00189377_c           1  -1  2017-04-29 12:15:35.429
6928  0000001_C  00302748_c           1  -1  2017-04-29 12:16:11.814
6916  0000001_C  00132474_c           1  -1  2017-04-29 12:16:57.497
6918  0000001_C  00163290_c           1  -1  2017-04-29 12:17:46.296
6915  0000001_C  00280572_c           1  -1  2017-04-29 12:18:34.979
6924  0000001_C  00114835_c           1  -1  2017-04-29 12:19:05.560
6914  0000001_C  00280572_c           1  -1  2017-04-29 12:19:19.445
6923  0000001_C  00012977_c           1  -1  2017-04-29 12:22:06.941
6929  0000001_C  00031376_c           1  -1  2017-04-29 12:22:36.857
6927  0000001_C  00255863_c           1  -1  2017-04-29 12:23:44.719
6932  0000001_C  00251926_c           1  -1  2017-04-30 03:36:52.881
6933  0000001_C  00251926_c           1  -1  2017-04-30 03:36:58.954
6912  0000001_C  00139536_c           1  -1  2017-04-30 03:38:17.273
6913  0000001_C  00139536_c           1  -1  2017-04-30 03:40:09.673
6919  0000001_C  00163290_c           1  -1  2017-04-30 03:42:01.042
6935  0000001_C  00160100_c           1  -1  2017-04-30 03:42:38.174
6936  0000001_C  00118093_c           1  -1  2017-04-30 03:43:08.205
6925  0000001_C  00114835_c           1  -1  2017-04-30 03:43:32.595
6917  0000001_C  00132474_c           1  -1  2017-04-30 03:44:04.243
6934  0000001_C  00260225_c           1  -1  2017-04-30 03:44:37.487
6905  0000001_C  00204560_c           1  -1  2017-04-30 03:45:44.397
6903  0000001_C  00204560_c           1  -1  2017-04-30 03:45:48.490
6904  0000001_C  00204560_c           1  -1  2017-04-30 03:46:42.699

In [4]:
train_C[train_C['user_id'] == '0000002_C'].sort_values(by = 'time_stamp')

        user_id  product_id  event_type  ad               time_stamp
9186  0000002_C  00201371_c           1  -1  2017-04-17 19:32:07.378
9213  0000002_C  00003006_c           1  -1  2017-04-17 19:33:31.311
9211  0000002_C  00167716_c           1  -1  2017-04-17 19:33:54.921
9214  0000002_C  00200793_c           1  -1  2017-04-17 19:35:16.531
9182  0000002_C  00251108_c           1  -1  2017-04-17 19:35:43.859
9185  0000002_C  00245917_c           1  -1  2017-04-17 19:36:12.863
9215  0000002_C  00033492_c           1  -1  2017-04-17 19:36:34.406
9216  0000002_C  00265805_c           1  -1  2017-04-17 19:37:10.598
9210  0000002_C  00104617_c           1  -1  2017-04-17 19:38:01.921
9184  0000002_C  00083932_c           1  -1  2017-04-17 19:38:42.385
9212  0000002_C  00222855_c           1  -1  2017-04-17 21:27:54.985
9217  0000002_C  00016505_c           1  -1  2017-04-20 19:58:20.526
9194  0000002_C  00201371_c           1  -1  2017-04-25 15:15:26.559
9207  0000002_C  00201371_c           1  -1  2017-04-25 15:15:46.259
9201  0000002_C  00201371_c           1  -1  2017-04-25 15:16:26.623
9232  0000002_C  00110028_c           1  -1  2017-04-25 15:16:35.016
9209  0000002_C  00201371_c           1  -1  2017-04-25 15:17:55.799
9230  0000002_C  00250755_c           1  -1  2017-04-25 15:18:26.172
9188  0000002_C  00201371_c           1  -1  2017-04-25 15:19:10.793
9231  0000002_C  00214698_c           1  -1  2017-04-25 15:19:26.132
9192  0000002_C  00201371_c           1  -1  2017-04-25 15:19:46.779
9222  0000002_C  00030349_c           1  -1  2017-04-25 15:19:59.555
9195  0000002_C  00201371_c           1  -1  2017-04-25 15:20:09.690
9224  0000002_C  00156568_c           1  -1  2017-04-25 15:20:56.019
9205  0000002_C  00201371_c           1  -1  2017-04-25 15:21:17.421
9227  0000002_C  00143073_c           1  -1  2017-04-25 15:21:26.811
9208  0000002_C  00201371_c           1  -1  2017-04-25 15:21:46.894
9229  0000002_C  00008529_c           1  -1  2017-04-25 15:22:02.924
9187  0000002_C  00201371_c           1  -1  2017-04-25 15:22:19.739
9206  0000002_C  00201371_c           1  -1  2017-04-25 15:22:28.906
9200  0000002_C  00201371_c           1  -1  2017-04-25 15:23:28.401
9183  0000002_C  00251108_c           1  -1  2017-04-25 15:23:51.732
9193  0000002_C  00201371_c           1  -1  2017-04-25 15:24:26.894
9220  0000002_C  00077734_c           1  -1  2017-04-25 15:24:42.449
9189  0000002_C  00201371_c           1  -1  2017-04-25 15:25:10.720
9219  0000002_C  00300492_c           1  -1  2017-04-25 15:25:37.933
9197  0000002_C  00201371_c           1  -1  2017-04-25 15:25:59.546
9223  0000002_C  00290958_c           1  -1  2017-04-25 15:26:32.826
9204  0000002_C  00201371_c           1  -1  2017-04-25 15:27:05.548
9225  0000002_C  00159371_c           1  -1  2017-04-25 15:27:18.290
9202  0000002_C  00201371_c           1  -1  2017-04-25 15:28:00.135
9221  0000002_C  00027028_c           1  -1  2017-04-25 15:28:23.856
9190  0000002_C  00201371_c           1  -1  2017-04-25 15:29:03.927
9203  0000002_C  00201371_c           1  -1  2017-04-25 15:29:50.694
9233  0000002_C  00097051_c           1  -1  2017-04-25 15:30:10.518
9198  0000002_C  00201371_c           1  -1  2017-04-25 15:31:20.125
9226  0000002_C  00178690_c           1  -1  2017-04-25 15:31:42.813
9196  0000002_C  00201371_c           1  -1  2017-04-25 15:32:27.384
9191  0000002_C  00201371_c           1  -1  2017-04-25 15:32:37.097
9199  0000002_C  00201371_c           1  -1  2017-04-25 15:33:02.388
9218  0000002_C  00047706_c           1  -1  2017-04-25 15:33:47.883
9228  0000002_C  00008529_c           1  -1  2017-04-25 15:34:15.625

In [5]:
train_C[train_C['user_id'] == '0000003_C'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
11687  0000003_C  00164248_c           1  -1  2017-04-17 02:24:02.167
11682  0000003_C  00143597_c           1  -1  2017-04-17 02:24:10.715
11686  0000003_C  00164248_c           1  -1  2017-04-17 02:39:47.200
11691  0000003_C  00191243_c           1  -1  2017-04-17 02:39:54.528
11685  0000003_C  00030805_c           1  -1  2017-04-17 02:40:21.459
11690  0000003_C  00257984_c           1  -1  2017-04-17 02:41:11.446
11683  0000003_C  00237068_c           1  -1  2017-04-17 02:42:37.089
11692  0000003_C  00136925_c           1  -1  2017-04-17 02:44:07.493
11689  0000003_C  00116748_c           1  -1  2017-04-17 02:46:18.407
11688  0000003_C  00153393_c           1  -1  2017-04-17 02:46:52.946
11693  0000003_C  00037855_c           1  -1  2017-04-17 02:47:21.741
11684  0000003_C  00058913_c           1  -1  2017-04-17 02:53:36.573

In [6]:
train_C[train_C['user_id'] == '0000004_C'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
17344  0000004_C  00090061_c           1  -1  2017-04-13 03:57:58.178
17337  0000004_C  00215924_c           1  -1  2017-04-13 04:00:01.179
17332  0000004_C  00206394_c           1  -1  2017-04-13 08:38:28.226
17339  0000004_C  00011255_c           1  -1  2017-04-13 08:55:58.820
17334  0000004_C  00079654_c           1  -1  2017-04-13 08:57:52.829
17345  0000004_C  00090061_c           1  -1  2017-04-18 09:02:50.972
17354  0000004_C  00042610_c           1  -1  2017-04-18 09:03:38.011
17352  0000004_C  00055070_c           1  -1  2017-04-18 09:05:47.689
17364  0000004_C  00296555_c           1  -1  2017-04-18 09:08:06.360
17353  0000004_C  00183293_c           1  -1  2017-04-18 09:08:36.424
17363  0000004_C  00282112_c           1  -1  2017-04-18 09:10:28.398
17362  0000004_C  00243578_c           1  -1  2017-04-18 09:12:56.473
17340  0000004_C  00011255_c           1  -1  2017-04-18 09:14:26.188
17346  0000004_C  00090061_c           1  -1  2017-04-18 23:49:13.192
17355  0000004_C  00042610_c           1  -1  2017-04-18 23:50:29.749
17341  0000004_C  00011255_c           1  -1  2017-04-18 23:54:46.368
17335  0000004_C  00079654_c           1  -1  2017-04-18 23:55:10.509
17365  0000004_C  00296555_c           1  -1  2017-04-18 23:56:27.572
17356  0000004_C  00042610_c           1  -1  2017-04-18 23:56:47.759
17366  0000004_C  00003883_c           1  -1  2017-04-18 23:57:46.511
17357  0000004_C  00042610_c           1  -1  2017-04-19 03:04:16.543
17359  0000004_C  00042610_c           1  -1  2017-04-19 10:29:09.499
17358  0000004_C  00042610_c           1  -1  2017-04-19 10:29:27.555
17367  0000004_C  00230652_c           1  -1  2017-04-19 10:38:45.908
17333  0000004_C  00206394_c           1  -1  2017-04-19 10:40:09.832
17348  0000004_C  00090061_c           1  -1  2017-04-20 03:34:40.302
17360  0000004_C  00042610_c           1  -1  2017-04-20 03:47:36.353
17361  0000004_C  00042610_c           3   0  2017-04-20 03:50:55.338
17347  0000004_C  00090061_c           1  -1  2017-04-20 03:51:13.751
17371  0000004_C  00018982_c           1  -1  2017-04-20 03:52:29.634
17338  0000004_C  00215924_c           1  -1  2017-04-20 03:57:28.683
17342  0000004_C  00011255_c           1  -1  2017-04-20 03:59:08.515
17369  0000004_C  00169200_c           1  -1  2017-04-20 10:29:13.899
17370  0000004_C  00002691_c           1  -1  2017-04-20 10:29:36.755
17343  0000004_C  00011255_c           1  -1  2017-04-20 23:46:22.444
17336  0000004_C  00079654_c           1  -1  2017-04-20 23:47:40.382
17349  0000004_C  00090061_c           1  -1  2017-04-20 23:57:41.939
17368  0000004_C  00230652_c           1  -1  2017-04-20 23:58:39.913
17372  0000004_C  00246364_c           1  -1  2017-04-23 23:48:59.467
17351  0000004_C  00090061_c           1  -1  2017-04-24 23:57:36.900
17350  0000004_C  00090061_c           1  -1  2017-04-24 23:58:41.587
17373  0000004_C  00272296_c           1  -1  2017-04-26 23:40:40.287
17374  0000004_C  00165920_c           1  -1  2017-04-26 23:43:36.113
17375  0000004_C  00121480_c           1  -1  2017-04-28 03:26:25.204
17379  0000004_C  00119098_c           1  -1  2017-04-28 03:29:02.466
17376  0000004_C  00018672_c           1  -1  2017-04-28 03:31:58.591
17377  0000004_C  00172079_c           1  -1  2017-04-28 03:32:21.291
17381  0000004_C  00171353_c           1  -1  2017-04-28 03:46:47.147
17380  0000004_C  00119946_c           1  -1  2017-04-28 03:47:15.636
17378  0000004_C  00138030_c           1  -1  2017-04-28 03:48:49.131

In [7]:
train_C[train_C['user_id'] == '0000005_C'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
19426  0000005_C  00061192_c           1  -1  2017-04-01 13:02:27.315
19425  0000005_C  00168877_c           1  -1  2017-04-01 13:36:22.975
19424  0000005_C  00168877_c           1  -1  2017-04-01 13:36:35.271
19423  0000005_C  00073831_c           1  -1  2017-04-01 13:40:58.232
19428  0000005_C  00224328_c           1  -1  2017-04-02 12:05:18.151
19429  0000005_C  00224328_c           1  -1  2017-04-02 12:05:23.770
19427  0000005_C  00070608_c           1  -1  2017-04-02 12:06:59.663
19434  0000005_C  00248337_c           1  -1  2017-04-02 12:08:06.099
19436  0000005_C  00159102_c           1  -1  2017-04-02 12:11:04.398
19430  0000005_C  00192866_c           1  -1  2017-04-02 12:14:02.667
19437  0000005_C  00256036_c           1  -1  2017-04-03 13:09:25.745
19439  0000005_C  00311761_c           1  -1  2017-04-05 12:19:09.509
19444  0000005_C  00131963_c           1  -1  2017-04-12 09:45:01.807
19441  0000005_C  00093848_c           1  -1  2017-04-12 09:45:50.200
19440  0000005_C  00074700_c           1  -1  2017-04-12 09:46:47.361
19445  0000005_C  00131963_c           1  -1  2017-04-16 11:55:58.415
19442  0000005_C  00093848_c           1  -1  2017-04-16 11:56:25.392
19438  0000005_C  00256036_c           1  -1  2017-04-16 11:57:04.613
19431  0000005_C  00192866_c           1  -1  2017-04-16 11:59:55.188
19448  0000005_C  00305528_c           1  -1  2017-04-16 12:02:44.235
19447  0000005_C  00219484_c           1  -1  2017-04-16 12:03:44.246
19446  0000005_C  00219484_c           1  -1  2017-04-16 12:04:17.230
19449  0000005_C  00248956_c           1  -1  2017-04-16 12:04:31.426
19432  0000005_C  00192866_c           1  -1  2017-04-21 11:02:13.691
19435  0000005_C  00248337_c           1  -1  2017-04-26 11:01:07.241
19433  0000005_C  00192866_c           1  -1  2017-04-26 11:03:16.440
19452  0000005_C  00135973_c           1  -1  2017-04-26 11:05:38.532
19451  0000005_C  00288477_c           2  -1  2017-04-26 13:05:37.557
19450  0000005_C  00288477_c           1  -1  2017-04-26 13:05:39.216
19459  0000005_C  00090217_c           2  -1  2017-04-27 11:57:57.575
19458  0000005_C  00090217_c           1  -1  2017-04-27 11:57:59.158
19456  0000005_C  00135973_c           2  -1  2017-04-27 12:10:51.261
19455  0000005_C  00135973_c           1  -1  2017-04-27 12:11:06.539
19453  0000005_C  00135973_c           1  -1  2017-04-27 12:11:34.674
19457  0000005_C  00078315_c           1  -1  2017-04-27 13:28:04.099
19454  0000005_C  00135973_c           1  -1  2017-04-27 13:36:28.032
19443  0000005_C  00093848_c           1  -1  2017-04-27 13:36:37.124

In [8]:
train_C[train_C['user_id'] == '0000006_C'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
85742  0000006_C  00160551_c           1  -1  2017-04-09 06:15:24.641
85741  0000006_C  00160551_c           1  -1  2017-04-09 06:16:01.163
85747  0000006_C  00241763_c           1  -1  2017-04-09 06:16:15.699
85740  0000006_C  00126718_c           1  -1  2017-04-09 06:17:12.405
85731  0000006_C  00059111_c           1  -1  2017-04-09 06:18:02.612
85729  0000006_C  00240913_c           1  -1  2017-04-09 06:18:41.065
85743  0000006_C  00084192_c           1  -1  2017-04-09 06:19:35.315
85749  0000006_C  00208373_c           1  -1  2017-04-09 06:20:17.349
85733  0000006_C  00116869_c           1  -1  2017-04-09 06:20:44.283
85752  0000006_C  00093346_c           1  -1  2017-04-09 06:21:25.407
85739  0000006_C  00106739_c           1  -1  2017-04-09 06:22:21.047
85730  0000006_C  00048587_c           1  -1  2017-04-09 06:23:05.457
85738  0000006_C  00081708_c           1  -1  2017-04-09 06:23:58.571
85753  0000006_C  00024501_c           1  -1  2017-04-09 06:25:07.631
85751  0000006_C  00265507_c           1  -1  2017-04-09 06:25:30.770
85734  0000006_C  00198110_c           1  -1  2017-04-09 06:25:53.283
85748  0000006_C  00292770_c           1  -1  2017-04-09 06:26:39.701
85744  0000006_C  00303965_c           1  -1  2017-04-09 06:27:02.777
85750  0000006_C  00313366_c           1  -1  2017-04-09 06:27:41.489
85746  0000006_C  00201741_c           1  -1  2017-04-09 06:28:52.050
85736  0000006_C  00042766_c           1  -1  2017-04-09 06:29:42.325
85737  0000006_C  00138616_c           1  -1  2017-04-09 06:30:42.733
85732  0000006_C  00074908_c           1  -1  2017-04-09 06:31:04.456
85745  0000006_C  00036355_c           1  -1  2017-04-09 06:31:39.493
85728  0000006_C  00077671_c           1  -1  2017-04-09 06:32:33.800
85735  0000006_C  00198110_c           1  -1  2017-04-15 07:52:50.394
85754  0000006_C  00078473_c           1  -1  2017-04-15 07:53:49.218
85758  0000006_C  00094592_c           1  -1  2017-04-15 07:56:18.693
85755  0000006_C  00178295_c           1  -1  2017-04-15 07:56:55.405
85756  0000006_C  00048744_c           1  -1  2017-04-15 07:57:28.170
85757  0000006_C  00090597_c           1  -1  2017-04-15 07:58:16.530

In [9]:
train_C[train_C['user_id'] == '0000007_C'].sort_values(by = 'time_stamp')

         user_id  product_id  event_type  ad               time_stamp
88527  0000007_C  00081966_c           1  -1  2017-04-01 02:42:31.496
88525  0000007_C  00110068_c           1  -1  2017-04-01 02:49:19.287
88526  0000007_C  00136421_c           1  -1  2017-04-01 02:50:20.218
88528  0000007_C  00307943_c           1  -1  2017-04-01 02:50:34.758
88529  0000007_C  00038754_c           1  -1  2017-04-04 07:50:21.631
88537  0000007_C  00038188_c           1  -1  2017-04-04 07:51:11.137
88531  0000007_C  00038754_c           1  -1  2017-04-27 01:07:46.077
88530  0000007_C  00038754_c           1  -1  2017-04-27 01:07:56.252
88533  0000007_C  00038754_c           1  -1  2017-04-27 01:08:40.058
88540  0000007_C  00152160_c           1  -1  2017-04-27 01:09:19.672
88534  0000007_C  00038754_c           1  -1  2017-04-27 01:09:54.064
88539  0000007_C  00126024_c           1  -1  2017-04-27 01:10:07.650
88532  0000007_C  00038754_c           1  -1  2017-04-27 01:11:17.255
88541  0000007_C  00023438_c           1  -1  2017-04-27 01:11:31.218
88535  0000007_C  00038754_c           1  -1  2017-04-27 01:11:55.451
88538  0000007_C  00006843_c           1  -1  2017-04-27 01:12:08.098
88536  0000007_C  00038754_c           1  -1  2017-04-27 01:13:19.333

In [10]:
train_C[train_C['user_id'] == '0000008_C'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
100189  0000008_C  00034858_c           1  -1  2017-04-01 03:54:53.951
100190  0000008_C  00190601_c           1  -1  2017-04-02 06:18:34.907
100191  0000008_C  00190601_c           1  -1  2017-04-02 06:19:04.390
100196  0000008_C  00133150_c           1  -1  2017-04-08 00:09:34.107
100195  0000008_C  00208057_c           1  -1  2017-04-08 00:10:36.852
100192  0000008_C  00193733_c           1  -1  2017-04-08 00:12:24.964
100194  0000008_C  00196758_c           1  -1  2017-04-08 00:13:09.254
100197  0000008_C  00056495_c           1  -1  2017-04-08 00:14:05.217
100193  0000008_C  00233439_c           1  -1  2017-04-08 00:16:16.941
100198  0000008_C  00271140_c           1  -1  2017-04-11 10:41:28.744
100199  0000008_C  00012332_c           1  -1  2017-04-11 10:41:49.260
100209  0000008_C  00155849_c           1  -1  2017-04-11 10:43:16.562
100208  0000008_C  00071853_c           1  -1  2017-04-11 10:44:02.182
100206  0000008_C  00186710_c           1  -1  2017-04-11 10:44:57.000
100207  0000008_C  00261969_c           1  -1  2017-04-11 10:47:38.684
100210  0000008_C  00174160_c           1  -1  2017-04-11 10:48:33.849
100205  0000008_C  00272264_c           1  -1  2017-04-11 10:49:42.229
100202  0000008_C  00098974_c           1  -1  2017-04-11 10:50:14.907
100203  0000008_C  00130520_c           1  -1  2017-04-11 10:51:15.462
100204  0000008_C  00130520_c           1  -1  2017-04-12 01:11:38.443
100214  0000008_C  00163045_c           1  -1  2017-04-12 01:12:35.620
100200  0000008_C  00012332_c           1  -1  2017-04-12 01:13:13.125
100201  0000008_C  00012332_c           1  -1  2017-04-12 01:13:27.556
100211  0000008_C  00235033_c           1  -1  2017-04-12 01:17:56.613
100212  0000008_C  00235033_c           1  -1  2017-04-12 01:18:08.353
100216  0000008_C  00008821_c           1  -1  2017-04-13 02:01:40.644
100217  0000008_C  00008821_c           1  -1  2017-04-13 02:01:49.992
100215  0000008_C  00008821_c           1  -1  2017-04-13 02:07:26.817
100218  0000008_C  00043815_c           1  -1  2017-04-13 02:08:41.702
100213  0000008_C  00235033_c           1  -1  2017-04-15 06:31:16.870
100219  0000008_C  00236494_c           1  -1  2017-04-15 06:31:53.487

In [11]:
train_C[train_C['user_id'] == '0000009_C'].sort_values(by = 'time_stamp')

          user_id  product_id  event_type  ad               time_stamp
117921  0000009_C  00227810_c           1  -1  2017-04-25 03:33:21.921
117923  0000009_C  00048828_c           1  -1  2017-04-26 03:22:31.905
117925  0000009_C  00030572_c           1  -1  2017-04-26 03:29:02.498
117930  0000009_C  00198926_c           1  -1  2017-04-26 03:32:14.155
117931  0000009_C  00198926_c           1  -1  2017-04-26 03:33:12.965
117929  0000009_C  00235821_c           1  -1  2017-04-26 03:34:35.703
117928  0000009_C  00313157_c           1  -1  2017-04-26 03:36:54.608
117940  0000009_C  00090123_c           1  -1  2017-04-27 12:10:24.516
117922  0000009_C  00227810_c           1  -1  2017-04-27 12:15:36.080
117924  0000009_C  00048828_c           1  -1  2017-04-27 12:17:47.570
117927  0000009_C  00030572_c           1  -1  2017-04-27 12:20:43.920
117926  0000009_C  00030572_c           1  -1  2017-04-27 12:21:37.859
117932  0000009_C  00198926_c           1  -1  2017-04-27 12:21:55.730
117933  0000009_C  00178257_c           1  -1  2017-04-27 12:24:36.392
117936  0000009_C  00178257_c           1  -1  2017-04-27 12:26:12.533
117937  0000009_C  00178257_c           1  -1  2017-04-27 12:30:00.633
117944  0000009_C  00091808_c           1  -1  2017-04-27 12:30:34.690
117945  0000009_C  00223702_c           1  -1  2017-04-27 12:32:03.019
117946  0000009_C  00223702_c           1  -1  2017-04-27 12:32:41.243
117939  0000009_C  00292023_c           1  -1  2017-04-27 12:35:24.181
117943  0000009_C  00253374_c           1  -1  2017-04-27 12:42:35.168
117942  0000009_C  00253374_c           1  -1  2017-04-27 12:43:09.545
117941  0000009_C  00287667_c           1  -1  2017-04-27 12:48:33.797
117947  0000009_C  00235998_c           1  -1  2017-04-27 12:50:50.853
117935  0000009_C  00178257_c           1  -1  2017-04-27 12:52:40.574
117934  0000009_C  00178257_c           1  -1  2017-04-27 12:54:02.442
117938  0000009_C  00178257_c           1  -1  2017-04-30 10:06:03.413

- 見るだけの人が多い。買うものは事前に何度も見直していることが多そう。