In [1]:
import pandas as pd
dfA=pd.read_csv("train_A.tsv", delimiter='\t')
dfB=pd.read_csv("train_B.tsv", delimiter='\t')
dfC=pd.read_csv("train_C.tsv", delimiter='\t')
dfD=pd.read_csv("train_D.tsv", delimiter='\t')
df_list=[dfA,dfB,dfC,dfD]

In [2]:
df =dfA.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

,user_id,product_id,event_type,Counts,time_stamp,ad
7,0000000_A,00004433_a,1,2,2017-04-27 13:03:18.492,-1
0,0000000_A,00009250_a,1,2,2017-04-08 12:09:04.629,-1
9,0000000_A,00009753_a,1,2,2017-04-27 13:01:27.924,-1
261360,0000001_A,00000099_a,1,2,2017-04-22 09:08:38.680,-1
261362,0000001_A,00003520_a,1,2,2017-04-22 08:51:38.434,-1
261348,0000001_A,00008154_a,1,4,2017-04-05 03:05:41.847,-1
261356,0000001_A,00008379_a,1,2,2017-04-22 08:54:47.808,-1
261353,0000001_A,00010169_a,1,2,2017-04-22 08:41:22.736,-1
678193,0000002_A,00001653_a,1,2,2017-04-05 14:23:03.897,-1
678187,0000002_A,00002183_a,1,2,2017-04-05 14:01:31.197,-1
678211,0000002_A,00002826_a,1,2,2017-04-17 05:28:10.768,-1
678198,0000002_A,00003936_a,1,2,2017-04-11 01:59:55.824,-1
678164,0000002_A,00004816_a,1,3,2017-04-05 13:34:57.356,-1
678168,0000002_A,00004929_a,1,2,2017-04-05 13:37:07.317,-1
678207,0000002_A,00005472_a,1,3,2017-04-17 05:29:16.526,-1
678191,0000002_A,00006497_a,1,2,2017-04-05 13:50:05.199,-1
678172,0000002_A,00008763_a,1,15,2017-04-05 14:19:37.336,-1
678200,0000002_A,00008916_a,1,2,2017-04-11 02:02:58.815,-1
678202,0000002_A,00009275_a,1,2,2017-04-14 05:17:23.635,-1
678159,0000002_A,00010585_a,1,2,2017-04-05 13:41:55.819,-1
678166,0000002_A,00013249_a,1,2,2017-04-05 13:46:07.574,-1
876633,0000003_A,00000498_a,0,2,2017-04-04 00:54:10.372,-1
876646,0000003_A,00003133_a,1,4,2017-04-07 05:25:19.452,-1
876625,0000003_A,00003603_a,1,3,2017-04-04 09:54:57.648,-1
876612,0000003_A,00008763_a,1,2,2017-04-04 00:33:21.676,-1
876639,0000003_A,00011524_a,1,2,2017-04-05 02:23:26.668,-1
876615,0000003_A,00012529_a,1,2,2017-04-01 02:53:30.276,-1
876617,0000003_A,00012529_a,0,2,2017-04-01 02:55:22.963,-1
876618,0000003_A,00012529_a,3,2,2017-04-01 03:03:13.048,1
952518,0000005_A,00000289_a,1,2,2017-04-24 06:54:40.019,-1
...,...,...,...,...,...,...
1484060,0058653_A,00013900_a,0,11,2017-04-28 02:32:05.215,-1
1484072,0058653_A,00013967_a,0,11,2017-04-28 02:32:05.215,-1
1484120,0058653_A,00014005_a,0,6,2017-04-28 02:32:05.215,-1
871372,0058654_A,00000416_a,1,2,2017-04-03 04:37:11.822,-1
871375,0058654_A,00002785_a,1,2,2017-04-27 03:48:25.509,-1
871358,0058654_A,00004929_a,1,2,2017-04-27 03:46:37.263,-1
871360,0058654_A,00004929_a,0,2,2017-04-27 04:05:59.553,-1
871365,0058654_A,00005757_a,1,2,2017-04-27 03:45:19.611,-1
871369,0058654_A,00008347_a,0,2,2017-04-27 04:05:59.553,-1
871363,0058654_A,00013437_a,1,2,2017-04-27 03:50:10.895,-1
1360181,0058655_A,00000498_a,1,8,2017-04-06 10:14:09.097,-1
1360193,0058655_A,00004347_a,1,3,2017-04-08 09:37:24.046,-1
1360198,0058655_A,00006727_a,1,7,2017-04-06 10:21:02.108,-1
1360205,0058655_A,00008469_a,1,3,2017-04-06 10:53:52.055,-1
1360187,0058655_A,00013460_a,1,3,2017-04-08 01:57:49.607,-1
1723961,0058656_A,00002408_a,1,2,2017-04-18 09:02:39.448,-1
1723956,0058656_A,00003087_a,1,3,2017-04-18 08:29:08.734,-1
1723959,0058656_A,00003350_a,1,3,2017-04-18 09:12:26.153,-1
1723968,0058656_A,00005002_a,1,8,2017-04-18 08:23:22.009,-1
1723965,0058656_A,00011209_a,1,3,2017-04-18 01:57:23.591,-1
2524497,0058657_A,00003966_a,0,4,2017-04-07 00:18:19.975,-1
2524526,0058657_A,00005439_a,0,2,2017-04-24 06:28:12.998,-1
2524525,0058657_A,00005439_a,1,2,2017-04-24 06:37:03.819,-1
2524493,0058657_A,00007141_a,0,4,2017-04-07 00:18:19.975,-1
2524512,0058657_A,00009317_a,0,3,2017-04-21 03:34:45.530,-1
2524502,0058657_A,00011943_a,1,2,2017-04-21 04:02:11.721,-1
2524505,0058657_A,00011943_a,0,7,2017-04-21 04:12:56.318,-1
2524521,0058657_A,00013041_a,1,2,2017-04-05 00:17:51.111,-1
2524531,0058657_A,00013336_a,0,4,2017-04-07 00:18:19.975,-1
2524519,0058657_A,00013475_a,1,2,2017-04-05 07:55:06.822,-1

In [3]:
df =dfB.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

          user_id  product_id  event_type  Counts               time_stamp  ad
42      0000000_B  00001472_b           1       2  2017-04-24 03:52:57.774  -1
2       0000000_B  00004491_b           1       4  2017-04-01 03:56:31.945  -1
14      0000000_B  00006305_b           1      14  2017-04-01 09:39:02.221  -1
41      0000000_B  00008327_b           1       2  2017-04-24 03:55:58.305  -1
4       0000000_B  00009992_b           1       4  2017-04-01 10:18:00.540  -1
12      0000000_B  00011210_b           1       4  2017-04-01 03:58:26.498  -1
9       0000000_B  00012030_b           1       2  2017-04-01 10:15:08.773  -1
37      0000000_B  00015686_b           1       5  2017-04-24 03:40:36.065  -1
69878   0000001_B  00003000_b           1       2  2017-04-20 10:25:15.631  -1
69853   0000001_B  00005112_b           1      18  2017-04-20 10:44:45.098  -1
69865   0000001_B  00005998_b           1      14  2017-04-20 10:16:58.835  -1
69837   0000001_B  00007379_b           1       9  2017-04-20 10:58:22.671  -1
69876   0000001_B  00009275_b           1       5  2017-04-20 10:22:27.451  -1
69821   0000001_B  00010435_b           1       9  2017-04-20 10:28:02.069  -1
69889   0000001_B  00010669_b           1       4  2017-04-20 10:37:52.517  -1
69885   0000001_B  00012700_b           1       6  2017-04-20 10:08:49.388  -1
86602   0000002_B  00000843_b           1       2  2017-04-23 14:28:38.367  -1
86594   0000002_B  00001549_b           1       3  2017-04-23 14:35:23.459  -1
86605   0000002_B  00001756_b           1       2  2017-04-23 14:23:43.930  -1
86608   0000002_B  00003226_b           1       3  2017-04-23 14:43:57.737  -1
86611   0000002_B  00003226_b           0       2  2017-04-23 14:51:54.039  -1
86600   0000002_B  00006762_b           1       5  2017-04-23 14:30:03.305  -1
86617   0000002_B  00016078_b           1       4  2017-04-28 21:39:06.856  -1
96676   0000003_B  00004779_b           1       2  2017-04-08 06:19:41.321  -1
96699   0000003_B  00006525_b           1       2  2017-04-11 02:09:15.306  -1
96679   0000003_B  00009014_b           1       3  2017-04-08 06:16:57.281  -1
96692   0000003_B  00010275_b           1       6  2017-04-08 06:06:31.211  -1
96694   0000003_B  00014775_b           1       2  2017-04-08 06:12:25.520  -1
96681   0000003_B  00015110_b           1       6  2017-04-08 06:14:04.574  -1
120965  0000004_B  00000553_b           1       2  2017-04-25 08:08:48.929  -1
...           ...         ...         ...     ...                      ...  ..
233761  0023839_B  00015373_b           1       9  2017-04-07 12:27:13.338  -1
233689  0023839_B  00015579_b           1       3  2017-04-27 14:23:39.098  -1
233862  0023839_B  00015601_b           1       2  2017-04-15 01:56:38.774  -1
233679  0023839_B  00016476_b           1       2  2017-04-26 02:17:18.879  -1
233693  0023839_B  00016665_b           1       2  2017-04-26 02:06:47.925  -1
587257  0023840_B  00002544_b           1       5  2017-04-10 09:56:50.531  -1
587262  0023840_B  00002805_b           1      14  2017-04-10 02:39:37.198  -1
587276  0023840_B  00002945_b           1       4  2017-04-11 09:51:47.692  -1
587226  0023840_B  00004558_b           1       7  2017-04-27 05:46:10.416  -1
587256  0023840_B  00006786_b           1       2  2017-04-27 08:49:52.955  -1
587230  0023840_B  00008183_b           1      20  2017-04-11 09:22:22.268  -1
587282  0023840_B  00008207_b           1       2  2017-04-27 08:59:35.781  -1
587222  0023840_B  00008811_b           1       2  2017-04-19 03:45:17.302  -1
587219  0023840_B  00010868_b           1       2  2017-04-18 05:59:59.756  -1
587292  0023840_B  00011761_b           1       2  2017-04-27 01:08:35.401  -1
587285  0023840_B  00013575_b           1       2  2017-04-24 05:19:26.175  -1
587218  0023840_B  00014371_b           1       2  2017-04-27 06:08:02.176  -1
587283  0023840_B  00015448_b           1       2  2017-04-28 02:24:27.453  -1
653084  0023841_B  00007541_b           1       2  2017-04-03 15:56:39.682  -1
663806  0023842_B  00000564_b           1       2  2017-04-22 10:12:55.151  -1
663798  0023842_B  00002172_b           1       2  2017-04-22 10:12:15.737  -1
663841  0023842_B  00003486_b           1       2  2017-04-22 10:15:14.639  -1
663812  0023842_B  00003862_b           1       5  2017-04-09 13:25:56.269  -1
663792  0023842_B  00007237_b           1       5  2017-04-09 13:22:38.643  -1
663801  0023842_B  00007943_b           1       3  2017-04-09 13:19:53.408  -1
663817  0023842_B  00013301_b           1       6  2017-04-09 13:24:48.207  -1
663823  0023842_B  00013301_b           0       3  2017-04-09 13:35:22.949  -1
663828  0023842_B  00013632_b           1       7  2017-04-08 01:31:03.087  -1
663834  0023842_B  00013632_b           0       5  2017-04-08 01:42:44.739  -1
663838  0023842_B  00013632_b           3       2  2017-04-08 01:45:54.469   0

[221608 rows x 6 columns]

In [4]:
df =dfC.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

,user_id,product_id,event_type,Counts,time_stamp,ad
20,0000000_C,00003661_c,1,2,2017-04-30 05:37:44.466,-1
19,0000000_C,00139845_c,1,3,2017-04-30 05:38:10.778,-1
10,0000000_C,00190500_c,1,2,2017-04-30 05:34:16.301,-1
14,0000000_C,00205242_c,1,2,2017-04-30 05:36:08.613,-1
1,0000000_C,00217428_c,1,2,2017-04-29 00:31:43.088,-1
11,0000000_C,00270071_c,1,2,2017-04-30 05:40:51.509,-1
16,0000000_C,00294192_c,1,2,2017-04-30 05:35:31.399,-1
8,0000000_C,00298993_c,1,2,2017-04-30 05:39:08.278,-1
4,0000000_C,00311374_c,1,3,2017-04-29 00:26:20.526,-1
6921,0000001_C,00005500_c,1,3,2017-04-29 12:11:08.479,-1
6906,0000001_C,00017273_c,1,4,2017-04-28 10:57:20.957,-1
6924,0000001_C,00114835_c,1,2,2017-04-29 12:19:05.560,-1
6916,0000001_C,00132474_c,1,2,2017-04-29 12:16:57.497,-1
6910,0000001_C,00139536_c,1,4,2017-04-28 10:54:13.015,-1
6918,0000001_C,00163290_c,1,2,2017-04-29 12:17:46.296,-1
6899,0000001_C,00204560_c,1,7,2017-04-28 10:56:19.170,-1
6932,0000001_C,00251926_c,1,2,2017-04-30 03:36:52.881,-1
6915,0000001_C,00280572_c,1,2,2017-04-29 12:18:34.979,-1
9229,0000002_C,00008529_c,1,2,2017-04-25 15:22:02.924,-1
9186,0000002_C,00201371_c,1,24,2017-04-17 19:32:07.378,-1
9182,0000002_C,00251108_c,1,2,2017-04-17 19:35:43.859,-1
11687,0000003_C,00164248_c,1,2,2017-04-17 02:24:02.167,-1
17339,0000004_C,00011255_c,1,5,2017-04-13 08:55:58.820,-1
17354,0000004_C,00042610_c,1,7,2017-04-18 09:03:38.011,-1
17334,0000004_C,00079654_c,1,3,2017-04-13 08:57:52.829,-1
17344,0000004_C,00090061_c,1,8,2017-04-13 03:57:58.178,-1
17332,0000004_C,00206394_c,1,2,2017-04-13 08:38:28.226,-1
17337,0000004_C,00215924_c,1,2,2017-04-13 04:00:01.179,-1
17367,0000004_C,00230652_c,1,2,2017-04-19 10:38:45.908,-1
17364,0000004_C,00296555_c,1,2,2017-04-18 09:08:06.360,-1
...,...,...,...,...,...,...
1176101,0043268_C,00017210_c,1,2,2017-04-04 02:34:00.521,-1
1176095,0043268_C,00019389_c,1,2,2017-04-04 03:34:46.462,-1
1176147,0043268_C,00027414_c,1,3,2017-04-06 13:11:11.236,-1
1176151,0043268_C,00039456_c,1,2,2017-04-04 03:19:33.979,-1
1176057,0043268_C,00048693_c,1,2,2017-04-03 06:47:11.301,-1
1176082,0043268_C,00060440_c,1,3,2017-04-02 10:42:44.098,-1
1176047,0043268_C,00068306_c,1,2,2017-04-21 03:31:11.108,-1
1176086,0043268_C,00083969_c,1,2,2017-04-02 11:50:24.472,-1
1176039,0043268_C,00090080_c,1,12,2017-04-21 03:28:08.515,-1
1176156,0043268_C,00092408_c,1,2,2017-04-02 10:18:46.842,-1
1176075,0043268_C,00098024_c,1,5,2017-04-03 05:21:45.796,-1
1176049,0043268_C,00117173_c,1,2,2017-04-21 03:29:53.041,-1
1176124,0043268_C,00126290_c,1,6,2017-04-03 06:43:36.243,-1
1176150,0043268_C,00135656_c,1,2,2017-04-07 02:47:24.397,-1
1176052,0043268_C,00139155_c,1,2,2017-04-21 09:00:43.725,-1
1176089,0043268_C,00159564_c,1,5,2017-04-04 02:28:36.640,-1
1176062,0043268_C,00174381_c,1,5,2017-04-04 02:25:30.080,-1
1176143,0043268_C,00202305_c,1,2,2017-04-07 01:34:10.243,-1
1176133,0043268_C,00213735_c,1,3,2017-04-02 10:36:58.144,-1
1176084,0043268_C,00220041_c,1,2,2017-04-21 09:03:29.466,-1
1176112,0043268_C,00232724_c,1,2,2017-04-07 01:38:48.309,-1
1176116,0043268_C,00253833_c,1,6,2017-04-29 01:29:41.022,-1
1176068,0043268_C,00276112_c,1,2,2017-04-02 11:59:57.428,-1
1176130,0043268_C,00280898_c,1,2,2017-04-03 04:20:11.091,-1
1176142,0043268_C,00282332_c,1,2,2017-04-03 05:08:10.671,-1
1176059,0043268_C,00284079_c,1,2,2017-04-06 13:16:52.215,-1
1176055,0043268_C,00287476_c,1,3,2017-04-02 10:28:30.590,-1
1176072,0043268_C,00307450_c,1,2,2017-04-04 02:40:23.968,-1
85727,0043269_C,00193964_c,1,2,2017-04-21 13:56:24.997,-1
85719,0043269_C,00210221_c,1,2,2017-04-25 13:54:31.810,-1

In [5]:
df =dfD.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

,user_id,product_id,event_type,Counts,time_stamp,ad
22,0000000_D,00044448_d,0,3,2017-04-15 02:07:26.958,-1
9,0000000_D,00190287_d,0,2,2017-04-02 08:11:32.550,-1
11,0000000_D,00398369_d,0,3,2017-04-05 00:55:48.430,-1
17,0000000_D,00474547_d,0,2,2017-04-10 21:50:18.329,-1
6,0000000_D,00708619_d,0,4,2017-04-02 00:43:46.415,-1
15,0000000_D,00733711_d,0,2,2017-04-10 21:52:17.150,-1
3004,0000001_D,00013990_d,0,3,2017-04-04 03:17:36.948,-1
3027,0000001_D,00040547_d,0,2,2017-04-24 07:00:49.989,-1
3032,0000001_D,00197370_d,0,2,2017-04-29 10:49:42.989,-1
2986,0000001_D,00266821_d,1,2,2017-04-03 07:43:35.520,-1
3021,0000001_D,00289248_d,0,4,2017-04-13 08:18:19.363,-1
2991,0000001_D,00354029_d,0,2,2017-04-05 23:45:56.751,-1
3013,0000001_D,00492970_d,0,3,2017-04-11 05:38:43.927,-1
49686,0000003_D,00032404_d,0,4,2017-04-03 08:26:27.744,-1
49700,0000003_D,00039523_d,0,2,2017-04-15 09:56:47.668,-1
49684,0000003_D,00046368_d,0,2,2017-04-30 09:07:27.580,-1
49633,0000003_D,00047165_d,0,6,2017-04-03 08:32:23.199,-1
49627,0000003_D,00047165_d,1,6,2017-04-14 14:11:20.747,-1
49662,0000003_D,00138567_d,0,11,2017-04-21 10:44:21.385,-1
49657,0000003_D,00218421_d,0,3,2017-04-24 11:25:02.867,-1
49654,0000003_D,00218421_d,1,3,2017-04-26 07:16:15.045,-1
49616,0000003_D,00248466_d,0,2,2017-04-28 10:55:15.646,-1
49701,0000003_D,00252253_d,0,2,2017-04-16 15:01:43.374,-1
49705,0000003_D,00255592_d,0,2,2017-04-28 10:56:32.858,-1
49691,0000003_D,00563768_d,0,3,2017-04-03 08:32:23.199,-1
49679,0000003_D,00611239_d,0,2,2017-04-06 16:18:42.178,-1
49681,0000003_D,00641506_d,1,2,2017-04-30 02:34:56.021,-1
49621,0000003_D,00684211_d,0,3,2017-04-06 15:43:47.830,-1
49696,0000003_D,00715978_d,0,3,2017-04-15 07:49:42.528,-1
49643,0000003_D,00766460_d,0,2,2017-04-14 15:08:19.089,-1
...,...,...,...,...,...,...
38879,0108600_D,00201421_d,0,5,2017-04-11 04:37:45.447,-1
38853,0108600_D,00233918_d,1,2,2017-04-12 07:46:42.896,-1
38872,0108600_D,00454370_d,0,2,2017-04-12 07:35:17.617,-1
38868,0108600_D,00540041_d,0,2,2017-04-09 07:41:41.851,-1
79006,0108601_D,00079640_d,0,2,2017-04-24 16:11:50.007,-1
78979,0108601_D,00135059_d,0,7,2017-04-01 09:48:44.115,-1
78972,0108601_D,00201912_d,0,4,2017-04-02 14:49:49.637,-1
78987,0108601_D,00353227_d,0,2,2017-04-01 13:28:48.012,-1
78966,0108601_D,00436768_d,0,7,2017-04-24 15:46:06.168,-1
78994,0108601_D,00442769_d,0,3,2017-04-01 11:16:02.402,-1
78997,0108601_D,00537761_d,0,2,2017-04-26 14:28:20.877,-1
78989,0108601_D,00580876_d,0,2,2017-04-28 03:38:41.385,-1
2549068,0108602_D,00039983_d,0,3,2017-03-31 21:49:34.015,-1
2549071,0108602_D,00326369_d,0,2,2017-04-02 16:17:45.463,-1
2549081,0108602_D,00387454_d,0,4,2017-04-02 16:07:09.836,-1
2549066,0108602_D,00453964_d,0,2,2017-03-31 21:45:25.595,-1
2549073,0108602_D,00459836_d,0,2,2017-04-02 16:00:30.214,-1
2549076,0108602_D,00688165_d,0,3,2017-04-02 16:09:01.305,-1
308996,0108603_D,00370010_d,0,2,2017-04-27 13:48:59.333,-1
308998,0108603_D,00582024_d,0,2,2017-04-28 07:22:02.403,-1
1283958,0108604_D,00071139_d,0,2,2017-04-01 11:01:01.125,-1
1283953,0108604_D,00652389_d,0,3,2017-04-21 15:22:09.013,-1
723235,0108606_D,00012298_d,0,3,2017-04-01 20:30:03.995,-1
723256,0108606_D,00080590_d,0,2,2017-04-28 10:06:19.300,-1
723140,0108606_D,00087762_d,1,2,2017-04-05 07:40:07.836,-1
723180,0108606_D,00186223_d,0,2,2017-04-10 20:22:42.459,-1
723168,0108606_D,00187139_d,0,2,2017-04-03 10:11:02.170,-1
723146,0108606_D,00436008_d,0,2,2017-04-04 20:53:43.690,-1
723174,0108606_D,00663449_d,0,2,2017-04-24 21:01:55.618,-1
723222,0108606_D,00728099_d,0,2,2017-04-14 20:14:49.045,-1

In [ ]:
for df in df_list:
    df =df.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
    df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
    a = df.duplicated(["product_id","user_id","event_type"],keep=False)
    df  = df[a]
    df = df.drop_duplicates(["user_id","product_id","event_type"])
    df = df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  import sys