In [2]:
import pandas as pd
dfA=pd.read_csv("train_A.tsv", delimiter='\t')
dfB=pd.read_csv("train_B.tsv", delimiter='\t')
dfC=pd.read_csv("train_C.tsv", delimiter='\t')
dfD=pd.read_csv("train_D.tsv", delimiter='\t')
df_list=[dfA,dfB,dfC,dfD]

In [5]:
df =dfA.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]
df[df.event_type == 3]

/Users/yasutakenaoki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,user_id,product_id,event_type,ad,time_stamp,Counts
876618,0000003_A,00012529_a,3,1,2017-04-01 03:03:13.048,2
952423,0000005_A,00011262_a,3,1,2017-04-12 07:15:05.926,2
952502,0000005_A,00011998_a,3,1,2017-04-24 06:51:10.932,4
2457833,0000032_A,00000247_a,3,1,2017-04-18 03:26:56.879,2
2457872,0000032_A,00001616_a,3,1,2017-04-18 15:02:29.592,2
2457911,0000032_A,00008651_a,3,1,2017-04-24 16:51:12.860,2
2457606,0000032_A,00008674_a,3,1,2017-04-18 03:50:27.775,4
2457891,0000032_A,00009339_a,3,1,2017-04-20 04:19:04.197,2
2457726,0000032_A,00009651_a,3,1,2017-04-18 04:09:50.137,2
2457746,0000032_A,00010768_a,3,1,2017-04-24 17:05:57.955,2
824088,0000035_A,00006509_a,3,1,2017-04-09 11:06:19.944,2
3257701,0000037_A,00007937_a,3,1,2017-04-16 09:07:10.109,2
1229317,0000091_A,00008179_a,3,1,2017-04-04 05:23:41.328,2
1799044,0000117_A,00004314_a,3,1,2017-04-17 11:09:20.355,2
2134471,0000124_A,00003292_a,3,1,2017-04-10 21:58:00.881,2
2134500,0000124_A,00003940_a,3,1,2017-04-12 22:19:46.096,2
2134482,0000124_A,00005715_a,3,1,2017-04-10 22:02:45.813,3
2134555,0000124_A,00005921_a,3,1,2017-04-06 20:35:08.264,2
2821425,0000128_A,00012984_a,3,1,2017-04-03 09:00:18.237,2
302090,0000146_A,00013853_a,3,1,2017-04-02 13:17:12.854,2
1799170,0000192_A,00013299_a,3,1,2017-04-10 13:33:28.326,2
1360505,0000226_A,00010178_a,3,1,2017-04-06 03:47:04.513,2
1979535,0000251_A,00007574_a,3,1,2017-04-24 03:18:52.811,2
1979467,0000251_A,00010376_a,3,1,2017-04-25 03:08:34.944,2
2385635,0000288_A,00011736_a,3,1,2017-04-18 15:20:46.915,2
1758641,0000308_A,00000550_a,3,0,2017-04-11 12:02:46.903,2
201406,0000327_A,00011412_a,3,1,2017-04-30 07:47:10.181,2
3087204,0000334_A,00006751_a,3,1,2017-04-05 14:49:40.555,2
773969,0000344_A,00012954_a,3,1,2017-04-04 15:14:59.605,2
583405,0000345_A,00010403_a,3,1,2017-04-06 13:25:41.809,3
...,...,...,...,...,...,...
3217353,0056842_A,00010462_a,3,1,2017-04-24 00:33:11.557,2
3217326,0056842_A,00012774_a,3,1,2017-04-26 05:25:07.629,3
3217371,0056842_A,00012916_a,3,1,2017-04-25 23:47:52.213,2
1933555,0056905_A,00002633_a,3,1,2017-04-26 00:40:27.479,2
2636570,0056933_A,00007194_a,3,1,2017-04-23 01:38:52.851,2
3275890,0056943_A,00014086_a,3,1,2017-04-23 04:08:55.999,4
2005128,0056948_A,00002356_a,3,1,2017-04-23 10:25:50.261,2
2243862,0056964_A,00008994_a,3,1,2017-04-28 00:53:43.822,2
2243832,0056964_A,00014038_a,3,1,2017-04-28 00:49:22.882,2
2495161,0057054_A,00011757_a,3,1,2017-04-25 13:28:14.870,2
2192897,0057065_A,00012209_a,3,0,2017-04-24 07:56:09.163,2
3296933,0057212_A,00000497_a,3,0,2017-04-24 06:58:41.730,2
3296920,0057212_A,00002565_a,3,0,2017-04-24 06:58:59.252,2
3296915,0057212_A,00003136_a,3,0,2017-04-24 06:57:35.755,2
2193300,0057307_A,00000683_a,3,1,2017-04-30 04:21:20.482,2
3181251,0057334_A,00008269_a,3,0,2017-04-24 14:04:41.676,5
2193552,0057398_A,00008036_a,3,1,2017-04-24 23:58:01.792,3
3087003,0057488_A,00005941_a,3,1,2017-04-27 04:29:37.194,2
2367648,0057526_A,00009879_a,3,0,2017-04-28 03:12:55.608,3
1281028,0057676_A,00013825_a,3,0,2017-04-26 00:51:15.586,2
104385,0057740_A,00005759_a,3,1,2017-04-26 05:04:53.059,2
2814334,0057757_A,00008470_a,3,1,2017-04-26 06:06:48.574,2
2194114,0057768_A,00004548_a,3,0,2017-04-26 07:05:34.726,2
1704421,0057826_A,00013786_a,3,1,2017-04-26 14:31:03.812,2
2382368,0058176_A,00006038_a,3,1,2017-04-28 03:23:36.057,2
3049543,0058370_A,00007082_a,3,1,2017-04-30 04:30:58.357,2
2391370,0058524_A,00005397_a,3,1,2017-04-30 04:12:38.496,3
1934259,0058540_A,00008611_a,3,1,2017-04-30 09:43:35.173,2
1360176,0058562_A,00002962_a,3,0,2017-04-30 07:26:33.509,2
2341103,0058595_A,00003955_a,3,0,2017-04-30 12:50:05.427,2

In [4]:
df =dfB.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df = df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]
df[df.event_type == 3]

/Users/yasutakenaoki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,user_id,product_id,event_type,Counts,time_stamp,ad
241976,0000007_B,00003978_b,3,2,2017-04-03 01:10:56.818,0
241947,0000007_B,00008188_b,3,2,2017-04-03 07:42:33.018,0
307694,0000009_B,00003788_b,3,2,2017-04-10 08:07:04.394,1
497386,0000015_B,00000744_b,3,2,2017-04-14 00:34:48.617,1
497379,0000015_B,00000841_b,3,2,2017-04-13 06:54:51.591,1
354310,0000032_B,00000046_b,3,2,2017-04-21 05:43:31.668,1
609739,0000038_B,00014456_b,3,2,2017-04-06 13:43:08.871,1
798158,0000052_B,00015751_b,3,4,2017-04-13 04:21:08.894,1
503960,0000054_B,00016117_b,3,2,2017-04-10 04:00:38.775,1
892705,0000056_B,00005863_b,3,2,2017-04-11 06:16:59.089,1
294459,0000062_B,00009612_b,3,2,2017-04-07 10:41:08.125,1
426342,0000069_B,00011155_b,3,2,2017-04-21 23:18:40.361,1
938795,0000071_B,00005452_b,3,2,2017-04-15 07:13:54.952,1
194331,0000073_B,00016134_b,3,2,2017-04-12 03:19:03.798,1
1000302,0000102_B,00007071_b,3,3,2017-04-19 03:00:34.688,1
1000277,0000102_B,00014362_b,3,2,2017-04-12 09:24:18.161,1
423138,0000123_B,00014008_b,3,2,2017-04-09 16:31:59.699,1
180898,0000127_B,00008275_b,3,2,2017-04-04 04:26:58.873,0
194535,0000129_B,00013465_b,3,2,2017-04-27 15:48:40.879,1
194436,0000129_B,00014488_b,3,4,2017-04-30 13:49:44.462,1
194525,0000129_B,00015969_b,3,3,2017-04-27 14:36:36.501,1
426454,0000131_B,00015249_b,3,2,2017-04-01 17:45:58.251,1
822483,0000132_B,00012356_b,3,2,2017-04-13 08:19:45.658,1
194553,0000133_B,00013137_b,3,3,2017-04-26 09:45:12.605,1
758093,0000140_B,00015276_b,3,4,2017-04-09 14:02:37.953,1
445447,0000142_B,00000692_b,3,2,2017-04-05 14:35:16.650,0
867983,0000156_B,00007750_b,3,4,2017-04-05 08:53:36.319,0
292467,0000157_B,00002995_b,3,2,2017-04-17 08:44:21.236,1
942988,0000158_B,00011028_b,3,2,2017-04-24 01:54:47.371,1
794751,0000168_B,00012927_b,3,2,2017-04-10 10:43:45.774,1
...,...,...,...,...,...,...
204439,0023775_B,00001333_b,3,3,2017-04-21 04:22:50.326,1
204469,0023775_B,00002527_b,3,5,2017-04-03 06:38:34.456,1
204601,0023775_B,00007366_b,3,2,2017-04-17 04:25:53.703,1
204407,0023775_B,00009343_b,3,3,2017-04-14 09:11:58.158,1
204338,0023775_B,00011505_b,3,3,2017-04-14 07:41:12.809,1
418564,0023776_B,00012554_b,3,2,2017-04-23 02:57:57.661,1
510903,0023779_B,00004717_b,3,2,2017-04-25 02:23:24.721,1
727628,0023789_B,00004353_b,3,2,2017-04-18 06:38:36.745,1
469380,0023794_B,00007119_b,3,5,2017-04-06 13:49:31.970,1
685588,0023796_B,00010982_b,3,2,2017-04-25 11:25:17.167,0
685566,0023796_B,00014799_b,3,2,2017-04-22 12:27:46.113,0
304038,0023797_B,00008663_b,3,2,2017-04-17 16:27:32.673,1
304074,0023797_B,00013060_b,3,2,2017-04-17 16:11:05.243,1
304081,0023797_B,00013313_b,3,2,2017-04-17 16:18:25.568,1
304032,0023797_B,00015374_b,3,2,2017-04-09 06:04:47.773,1
922004,0023810_B,00007804_b,3,2,2017-04-05 00:11:29.591,1
921983,0023810_B,00009235_b,3,2,2017-04-04 07:49:31.597,1
241844,0023811_B,00001763_b,3,2,2017-04-06 09:38:22.394,0
241909,0023811_B,00010945_b,3,4,2017-04-04 04:21:29.206,0
241864,0023811_B,00012313_b,3,2,2017-04-10 15:42:08.180,0
269752,0023815_B,00002488_b,3,2,2017-04-05 19:32:51.917,0
907207,0023821_B,00015781_b,3,2,2017-04-21 00:13:00.738,1
304176,0023827_B,00009576_b,3,2,2017-04-19 07:44:50.995,1
194216,0023831_B,00001788_b,3,3,2017-04-07 12:19:29.244,0
194226,0023831_B,00003683_b,3,6,2017-04-25 09:22:16.594,0
194273,0023831_B,00007518_b,3,2,2017-04-03 13:31:46.567,0
194279,0023831_B,00015721_b,3,3,2017-04-20 04:17:35.353,0
421963,0023838_B,00000320_b,3,2,2017-04-07 08:22:51.239,0
233728,0023839_B,00002026_b,3,2,2017-04-15 06:13:59.279,0
663838,0023842_B,00013632_b,3,2,2017-04-08 01:45:54.469,0

In [7]:
df =dfC.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]
df[df.event_type == 3]

/Users/yasutakenaoki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,user_id,product_id,event_type,ad,time_stamp,Counts
831135,0001365_C,00273153_c,3,0,2017-04-23 12:59:56.634,2
633608,0001535_C,00139999_c,3,0,2017-04-08 13:01:43.250,11
1513662,0001841_C,00304388_c,3,0,2017-03-31 15:28:53.549,3
1518168,0001873_C,00135363_c,3,0,2017-04-22 14:36:58.556,2
1487438,0001886_C,00242956_c,3,0,2017-04-16 14:55:59.997,2
946134,0001965_C,00147399_c,3,1,2017-04-24 13:10:19.626,3
6123,0002214_C,00161377_c,3,0,2017-04-16 08:51:49.831,2
6118,0002214_C,00308507_c,3,0,2017-04-16 08:52:54.660,2
1347048,0002259_C,00299659_c,3,1,2017-04-12 13:56:24.172,2
606481,0002909_C,00099319_c,3,1,2017-04-15 05:33:36.086,10
606523,0002909_C,00233139_c,3,1,2017-04-15 05:30:19.275,2
1364801,0002963_C,00215938_c,3,0,2017-04-21 07:07:48.835,2
1163242,0003118_C,00107904_c,3,1,2017-04-07 12:25:37.339,3
1190147,0003346_C,00159876_c,3,0,2017-04-14 04:27:10.378,2
340568,0003727_C,00124091_c,3,1,2017-04-02 23:15:21.156,2
1073021,0003788_C,00247397_c,3,1,2017-04-03 09:01:29.769,2
237981,0004018_C,00102832_c,3,1,2017-04-08 10:41:19.797,2
1067808,0004026_C,00006719_c,3,0,2017-04-16 10:41:35.074,4
637677,0004201_C,00312535_c,3,0,2017-04-05 10:13:49.419,3
46256,0004290_C,00144061_c,3,1,2017-04-12 13:25:42.145,2
926566,0005006_C,00191694_c,3,0,2017-04-11 16:31:48.470,2
1277372,0005102_C,00207703_c,3,1,2017-04-14 07:47:15.889,10
47196,0005174_C,00083551_c,3,1,2017-04-02 15:27:08.751,5
721251,0005244_C,00044132_c,3,1,2017-04-23 09:22:49.056,2
653642,0005645_C,00110241_c,3,0,2017-04-21 15:56:35.142,12
513392,0006502_C,00110061_c,3,0,2017-04-10 07:12:14.951,3
1111213,0006560_C,00296071_c,3,1,2017-04-12 01:59:40.055,2
1471411,0006722_C,00086385_c,3,0,2017-04-24 05:30:30.426,2
960175,0006795_C,00145739_c,3,1,2017-04-03 15:59:16.791,2
1193597,0006892_C,00103733_c,3,1,2017-04-06 11:47:26.483,2
...,...,...,...,...,...,...
512872,0035840_C,00254736_c,3,0,2017-04-04 14:01:55.966,2
1506267,0036342_C,00166953_c,3,1,2017-04-03 05:45:00.506,3
1373970,0036424_C,00094902_c,3,1,2017-04-03 22:51:18.422,3
1466170,0036501_C,00025884_c,3,0,2017-04-04 13:54:29.807,2
1541833,0036536_C,00175812_c,3,1,2017-04-13 06:53:11.564,2
987568,0037271_C,00011183_c,3,0,2017-04-26 02:48:38.942,2
811979,0037939_C,00092175_c,3,0,2017-04-12 07:37:09.384,2
1445014,0038117_C,00126237_c,3,1,2017-04-15 03:27:02.578,4
556611,0038178_C,00238367_c,3,1,2017-04-04 08:18:52.823,5
410740,0038361_C,00040139_c,3,0,2017-04-01 12:13:46.277,2
608558,0038377_C,00081285_c,3,0,2017-04-13 05:02:53.478,3
189553,0038586_C,00251249_c,3,0,2017-04-05 14:48:27.115,7
81865,0038824_C,00274452_c,3,0,2017-04-04 04:47:15.235,2
1588228,0038924_C,00038913_c,3,0,2017-04-13 11:50:58.997,2
581438,0039429_C,00234572_c,3,0,2017-04-01 11:54:46.085,2
1519330,0039467_C,00304377_c,3,0,2017-04-01 14:47:15.643,3
946046,0039574_C,00203049_c,3,0,2017-04-11 13:37:44.899,2
1378411,0039700_C,00270963_c,3,0,2017-04-06 11:37:52.108,2
904874,0040161_C,00264314_c,3,1,2017-04-22 01:20:44.413,2
705435,0040804_C,00097131_c,3,0,2017-04-12 06:35:58.541,2
412870,0040847_C,00037296_c,3,0,2017-04-10 11:06:53.115,2
1028712,0041262_C,00313238_c,3,0,2017-04-29 03:52:56.366,3
1302100,0041387_C,00193502_c,3,0,2017-04-14 12:54:59.098,4
767714,0041665_C,00211572_c,3,0,2017-04-16 12:57:54.222,2
767694,0041665_C,00283749_c,3,0,2017-04-16 12:40:57.943,3
191730,0041811_C,00167219_c,3,0,2017-04-18 12:29:08.866,2
1581772,0042577_C,00099562_c,3,0,2017-04-24 10:58:31.890,2
158150,0042633_C,00075600_c,3,0,2017-04-25 06:20:39.363,3
1097902,0043107_C,00148123_c,3,0,2017-04-29 22:52:42.301,3
1568154,0043142_C,00261581_c,3,0,2017-04-30 13:46:57.825,2

In [6]:
df =dfD.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
a = df.duplicated(["product_id","user_id","event_type"],keep=False)
df  = df[a]
df = df.drop_duplicates(["user_id","product_id","event_type"])
df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]
df[df.event_type == 3]

/Users/yasutakenaoki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,user_id,product_id,event_type,ad,time_stamp,Counts
2347959,0000410_D,00656949_d,3,0,2017-04-25 09:15:27.913,2
1094354,0005018_D,00341153_d,3,1,2017-04-27 06:54:14.797,2
2013233,0006278_D,00199807_d,3,1,2017-04-23 14:21:52.212,2
2013223,0006278_D,00334801_d,3,1,2017-04-18 02:33:27.199,2
789388,0010267_D,00185894_d,3,1,2017-04-07 00:10:36.010,2
789402,0010267_D,00577171_d,3,1,2017-04-10 15:59:05.711,2
626452,0013712_D,00087762_d,3,1,2017-04-06 13:00:56.030,2
1256512,0014834_D,00121082_d,3,1,2017-04-19 09:20:44.444,2
1256448,0014834_D,00248594_d,3,1,2017-04-03 05:50:10.176,5
1256488,0014834_D,00352050_d,3,1,2017-04-20 03:39:26.053,2
1256495,0014834_D,00354946_d,3,1,2017-04-23 12:24:10.742,2
1256491,0014834_D,00354951_d,3,1,2017-04-23 11:30:39.123,2
1256470,0014834_D,00416616_d,3,1,2017-04-23 12:27:05.521,2
1256464,0014834_D,00533118_d,3,1,2017-04-19 09:22:43.544,5
1256446,0014834_D,00581410_d,3,1,2017-04-03 05:54:55.698,3
1256503,0014834_D,00684725_d,3,1,2017-04-01 12:32:37.790,5
1256499,0014834_D,00684729_d,3,1,2017-04-01 12:30:32.626,3
3334579,0016920_D,00139997_d,3,1,2017-04-05 16:00:19.034,6
3334632,0016920_D,00141681_d,3,1,2017-04-05 16:01:30.937,3
3334685,0016920_D,00434378_d,3,1,2017-04-07 08:19:06.116,2
3334688,0016920_D,00536376_d,3,1,2017-04-09 08:34:59.536,2
3334078,0016920_D,00754206_d,3,1,2017-04-05 15:27:09.027,2
3343414,0017457_D,00567009_d,3,1,2017-04-01 10:48:40.405,2
1200202,0020225_D,00662858_d,3,1,2017-04-09 04:47:52.976,2
907357,0027217_D,00586951_d,3,1,2017-04-05 00:32:32.656,2
423863,0028225_D,00128907_d,3,1,2017-04-12 12:00:08.820,2
2805632,0036699_D,00472569_d,3,1,2017-04-02 22:10:27.368,2
2805574,0036699_D,00785159_d,3,1,2017-04-28 10:31:35.705,2
457790,0039989_D,00156461_d,3,1,2017-04-19 09:46:54.477,2
457785,0039989_D,00768347_d,3,1,2017-04-28 02:06:17.623,5
1811926,0039999_D,00260868_d,3,1,2017-04-04 15:26:00.993,2
1131461,0043398_D,00412265_d,3,1,2017-04-11 03:26:31.117,2
3291288,0050177_D,00022561_d,3,1,2017-04-13 11:51:36.248,2
3532176,0050514_D,00127003_d,3,1,2017-04-20 14:01:25.594,3
719658,0051443_D,00427797_d,3,1,2017-04-13 11:30:57.074,2
2312247,0062082_D,00747437_d,3,1,2017-04-09 19:52:01.585,2
1175328,0063326_D,00227227_d,3,1,2017-04-19 20:12:03.808,2
1175326,0063326_D,00330719_d,3,1,2017-04-23 16:25:10.792,2
2133869,0063868_D,00720246_d,3,1,2017-04-24 15:02:15.557,2
2348116,0065094_D,00474084_d,3,1,2017-04-10 17:45:18.981,2
304622,0065410_D,00490990_d,3,1,2017-04-02 05:19:37.298,2
2115295,0075062_D,00428609_d,3,1,2017-04-26 05:52:29.737,2
1998392,0081152_D,00123963_d,3,1,2017-04-06 23:48:30.774,2
1195245,0081531_D,00203490_d,3,1,2017-04-21 11:07:49.807,2
1195226,0081531_D,00429173_d,3,1,2017-04-10 14:48:06.607,2
207343,0082851_D,00749508_d,3,1,2017-04-21 03:04:47.180,3
2113492,0086286_D,00491047_d,3,1,2017-04-03 05:16:13.993,2
3310463,0088893_D,00761180_d,3,1,2017-04-17 15:17:19.696,2
3060687,0091005_D,00132943_d,3,1,2017-04-05 22:54:34.257,2
1072222,0094445_D,00032376_d,3,1,2017-04-05 07:04:36.191,2
447159,0097446_D,00446781_d,3,1,2017-04-02 15:21:23.917,4
1560773,0097888_D,00335927_d,3,1,2017-04-14 23:44:16.965,2
1560757,0097888_D,00564098_d,3,1,2017-04-28 15:42:40.689,2
2306877,0100316_D,00231545_d,3,1,2017-04-21 11:51:10.697,2
2306888,0100316_D,00248695_d,3,1,2017-04-11 11:02:43.966,2
291390,0102949_D,00296064_d,3,1,2017-04-12 15:50:00.275,2
2496747,0105538_D,00155796_d,3,1,2017-04-07 17:12:50.952,2
2496734,0105538_D,00155798_d,3,1,2017-04-06 10:33:51.660,3

In [6]:
for df in df_list:
    df =df.sort_values(by=["user_id","product_id","time_stamp"],ascending = [True,True,True])
    df["Counts"] = df.groupby(["product_id","user_id","event_type"])["event_type"].transform('count')
    a = df.duplicated(["product_id","user_id","event_type"],keep=False)
    df  = df[a]
    df = df.drop_duplicates(["user_id","product_id","event_type"])
    df = df.ix[:,['user_id','product_id','event_type','Counts','time_stamp','ad']]
    df[df.event_type == 3]

/Users/yasutakenaoki/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  import sys