In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
# データ読み込み(人材)
records_A =  pd.read_csv("train/train_A.tsv", delimiter='\t' )
train_A_df = pd.DataFrame(records_A)
train_A_df.head()

     user_id  product_id  event_type  ad               time_stamp
0  0000000_A  00009250_a           1  -1  2017-04-08 12:09:04.629
1  0000000_A  00009250_a           1  -1  2017-04-27 12:55:57.783
2  0000000_A  00014068_a           1  -1  2017-04-08 11:57:53.746
3  0000000_A  00001254_a           1  -1  2017-04-08 12:04:26.008
4  0000000_A  00003316_a           1  -1  2017-04-08 12:05:31.326

In [3]:
train_A_df.head(30)

      user_id  product_id  event_type  ad               time_stamp
0   0000000_A  00009250_a           1  -1  2017-04-08 12:09:04.629
1   0000000_A  00009250_a           1  -1  2017-04-27 12:55:57.783
2   0000000_A  00014068_a           1  -1  2017-04-08 11:57:53.746
3   0000000_A  00001254_a           1  -1  2017-04-08 12:04:26.008
4   0000000_A  00003316_a           1  -1  2017-04-08 12:05:31.326
5   0000000_A  00003009_a           1  -1  2017-04-14 13:55:07.446
6   0000000_A  00004433_a           1  -1  2017-04-27 13:30:18.503
7   0000000_A  00004433_a           1  -1  2017-04-27 13:03:18.492
8   0000000_A  00008525_a           1  -1  2017-04-27 12:59:09.600
9   0000000_A  00009753_a           1  -1  2017-04-27 13:01:27.924
10  0000000_A  00009753_a           1  -1  2017-04-27 13:23:55.026
11  0000000_A  00013303_a           1  -1  2017-04-27 13:29:54.098
12  0000000_A  00003524_a           1  -1  2017-04-27 13:26:46.064
13  0000000_A  00012725_a           1  -1  2017-04-27 13:25:28.928
14  0000000_A  00008263_a           1  -1  2017-04-27 12:56:42.873
15  0000642_A  00009250_a           1  -1  2017-04-05 04:31:04.889
16  0000642_A  00003009_a           1  -1  2017-04-05 05:03:28.294
17  0000642_A  00010627_a           1  -1  2017-04-09 13:56:18.846
18  0000642_A  00009816_a           1  -1  2017-04-06 03:25:29.584
19  0000642_A  00009816_a           1  -1  2017-04-06 03:23:25.717
20  0000642_A  00012529_a           1  -1  2017-04-06 03:34:42.315
21  0000642_A  00012529_a           1  -1  2017-04-14 10:10:52.146
22  0000642_A  00003676_a           1  -1  2017-04-05 04:11:16.809
23  0000642_A  00001751_a           1  -1  2017-04-05 04:07:16.590
24  0000642_A  00001751_a           1  -1  2017-04-06 11:28:58.111
25  0000642_A  00000498_a           1  -1  2017-04-08 02:12:18.766
26  0000642_A  00013460_a           1  -1  2017-04-06 03:22:17.198
27  0000642_A  00011355_a           1  -1  2017-04-05 13:26:46.217
28  0000642_A  00008003_a           1  -1  2017-04-06 03:20:20.629
29  0000642_A  00002606_a           1  -1  2017-04-06 11:20:11.098

In [ ]:

user_id_list = train_A_df['user_id'].unique().tolist()
for i in range(len(user_id_list)):
    # ユーザーIDごとの行動履歴
    train_A_df[train_A_df['user_id'] == user_id_list[i]]

15
740
3654
22
57
72
45
107
119
511
57
1592
33
141
916
61
74
199
48
898
135
95
50
20
1487
155
99
33
1834
382
132
534
49
18
119
110
33
260
276
202
74
37
377
51
25
16
233
411
33
48
64
22
77
196
62
77
10
10
123
484
11987
10
322
355
2327
45
34
96
42
95
125
223
279
145
56
100
96
223
51
144
74
76
218
10169
15
15
158
183
17
64
16
1055
12
18
18
29
15
60
81
90
562
129
25
10
10
10
10
10
10

In [ ]:
import numpy as np
from datetime import datetime as dt

class DataProcessor():

    def __init__(self, data):
        """
        イニシャライザ
        Params
        ------
        data: list
        データの読み込み方は、main.py参照
        """
        self.data = data

    def id_str2int(self, str_id):
        """
        idを文字からint型に変換する。
        idをint型で扱った方が、評価値の表にするときにidをindexとすることができ、扱いやすいため。
        Example
        ------
        "000000_A" => 0
        "000034_A" => 34
        "000103_a" => 103
        """
        return int(str_id.split("_")[0])

    def compute_value(self, actions):
        """
        評価値を算出するメソッド
        Params
        -------
        actions: list
        ユーザーのある一つのプロダクトに関する行動のリスト
        actions[i][0]: int "event_type"
        actions[i][1]: int "ad"
        actions[i][2]: datetime "time_stamp"
        注意：i は 0<i<len(actions) の整数。
        """
        # TODO:カテゴリーごとに自由に設定する。
        # TODO:カテゴリーごとに定めたクラスターを有効利用できれば、なおよい。
        value = 1
        return value

    def get_max_ids(self, plusone=True):
        """
        最大のuser_idとproduct_idを得るメソッド
        (ユニークなuser_idとproduct_idの数を求めるために使う)
        Parameter
        -----
        plusone: Boolean
        求めた最大のidに1を足すかどうか決める引数。
        ユニークなidの数を数えるとき、idが0から始まっていると、idの最大値だけでは1足りないため。
        """
        max_user_id = 0
        max_product_id = 0
        for row in self.data:
            user_id = self.id_str2int(row[0])
            product_id = self.id_str2int(row[1])
            if max_user_id < user_id:
                max_user_id = user_id
            if max_product_id < product_id:
                max_product_id = product_id
        if plusone:
            max_user_id += 1
            max_product_id += 1

        return [max_user_id, max_product_id]

    def make_matrix_for_CF(self):
        """
        MFを適用できる表(dict型)を作成する。（評価値の表を作る）
        cf_dataの形式：
        {user_id: {product_id: [[event_type, ad, time_stamp], ...], ...}, ...}
        cf_dataのイメージ：
        {0: {9250: [[1 , -1, 2017-04-29 00:26:20], [3 , 1, 2017-04-30 00:30:56]],
            14068: [[0 , -1, 2017-04-29 01:26:20]],
             ...},
        34: {394: [[1 , -1, 2017-04-15 06:26:20], [0 , 1, 2017-04-16 00:35:56]],
             ...},
        ...}
        cf_dictの形式：
        {user_id: {product_id: 評価値, ...}, ...}
        cf_dictのイメージ：
        {0: {9250: 2,
             14068: 1,
             1254: 1,
             3316: 1,
             3009: 1,
             4433: 2,
             8525: 1,
             9753: 2},
        34: {394: 2,
            1555: 1,
            10093: 1},
        108: {39: 2,
              ...},
        ...}
        """

        #
        cf_data=dict()
        for row in self.data:
            user_id = self.id_str2int(row[0])
            product_id = self.id_str2int(row[1])
            if not user_id in cf_data.keys():
                cf_data[user_id]=dict()
            if not product_id in cf_data[user_id].keys():
                cf_data[user_id][product_id]=[]
            # 時刻の小数点以下切り捨て
            action = [int(row[2]),int(row[3]),dt.strptime(row[4].split(".")[0], '%Y-%m-%d %H:%M:%S')]

            cf_data[user_id][product_id].append(action)


        cf_dict=dict()
        for user_id, user_actions in cf_data.items():
            cf_dict[user_id] = dict()
            for product_id, actions in user_actions.items():
                value = self.compute_value(actions)
                cf_dict[user_id][product_id] = value

        return cf_dict

class MatrixFactorization():
    def get_rating_error(self, r, p, q):
        s = 0
        for i in range(len(p)):
            s += p[i]*q[i]
        return r - s

    def get_error(self, R, P, Q, beta):
        error = 0.0
        for i in range(len(R)):
            exist_product_ids = R[i].keys()
            for j in exist_product_ids:
                error += pow(self.get_rating_error(R[i][j], P[i], Q[j]), 2)
        error += beta/2.0 * (np.linalg.norm(P) + np.linalg.norm(Q))
        return error

    def factorize(self, R, matrix_size, K, steps=5000, alpha=0.0002, beta=0.02, threshold=0.001):
        n_user = matrix_size[0]
        n_product = matrix_size[1]
        P = np.random.rand(n_user,K).tolist()
        Q = np.random.rand(n_product,K).tolist()

        for step in range(steps):
            for i in range(n_user):
                exist_product_ids = R[i].keys()
                for j in exist_product_ids:
                    err = self.get_rating_error(R[i][j], P[i], Q[j])
                    for k in range(K):
                        P[i][k] += alpha * (2 * err * Q[j][k])
                        Q[j][k] += alpha * (2 * err * P[i][k])
            error = self.get_error(R, P, Q, beta)
            if error < threshold:
                print("FINISHED! step is " + str(step))
                break
        return P, Q